n8n-workflows/sub/sub-znuny-note-adder.json
{
  "name": "SUB: Znuny Note Adder",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ticket_id",
              "type": "number"
            },
            {
              "name": "note_title",
              "type": "string"
            },
            {
              "name": "note_body",
              "type": "string"
            },
            {
              "name": "new_state",
              "type": "string"
            }
          ]
        }
      },
      "name": "📥 Input from Master",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ticket_id = input.ticket_id;\nif (!ticket_id) throw new Error('ticket_id ist erforderlich');\n\n// Optionaler Status-Wechsel: wenn new_state gesetzt, wird State im selben PATCH mitgesendet\nconst ticketUpdate = input.new_state ? { State: input.new_state } : undefined;\n\nconst payload = {\n  UserLogin: 'root@localhost',\n  Password: 'ZnunyAdmin2026!',\n  Article: {\n    CommunicationChannel: 'Internal',\n    SenderType: 'agent',\n    IsVisibleForCustomer: '0',\n    Subject: input.note_title || 'Automatische Notiz',\n    Body: input.note_body || '(kein Inhalt)',\n    ContentType: 'text/plain; charset=utf8',\n    MimeType: 'text/plain',\n    Charset: 'utf8'\n  }\n};\nif (ticketUpdate) payload.Ticket = ticketUpdate;\n\nreturn [{ json: { ticket_id, new_state: input.new_state || null, payload } }];"
      },
      "name": "🔧 Build Note Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://10.1.1.182/znuny/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket/{{ $json.ticket_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000
        }
      },
      "name": "📝 Znuny API: PATCH Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst d = $('🔧 Build Note Payload').first().json;\nconst success = !r.Error && (r.ArticleID != null || r.Success === 1);\nreturn [{\n  json: {\n    success,\n    note_id: r.ArticleID || null,\n    ticket_id: d.ticket_id,\n    error: r.Error ? `${r.Error.ErrorCode}: ${r.Error.ErrorMessage}` : null\n  }\n}];"
      },
      "name": "🔧 Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "📥 Input from Master": {
      "main": [
        [
          {
            "node": "🔧 Build Note Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build Note Payload": {
      "main": [
        [
          {
            "node": "📝 Znuny API: PATCH Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Znuny API: PATCH Note": {
      "main": [
        [
          {
            "node": "🔧 Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "id": "0k5NM7V2p1dkvMSG",
  "_n8n_id": "0k5NM7V2p1dkvMSG"
}