n8n-workflows/sub/sub-netbox-loader.json
{
  "name": "SUB: NetBox Infrastructure Loader",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "filter_by_type", "type": "string" },
            { "name": "filter_by_ids",  "type": "string" },
            { "name": "hostname",       "type": "string" }
          ]
        }
      },
      "name": "📥 Input from Master",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: {\n  filter_by_type: input.filter_by_type || null,\n  filter_by_ids:  input.filter_by_ids ? JSON.parse(input.filter_by_ids) : null,\n  hostname:       input.hostname || input.wer || null,\n  netbox_token:   '6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4',\n  netbox_base:    'http://10.1.1.104'\n} }];"
      },
      "name": "🔧 Parse Filter Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/virtualization/virtual-machines/?limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4" }] },
        "options": {}
      },
      "name": "🔍 NetBox: Query VMs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/virtualization/virtual-machines/?cf_vm_type=lxc&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4" }] },
        "options": {}
      },
      "name": "🔍 NetBox: Query LXCs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/dcim/devices/?has_primary_ip=true&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4" }] },
        "options": {}
      },
      "name": "🔍 NetBox: Query Physical Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/dcim/devices/?has_primary_ip=true&virtual_chassis=true&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4" }] },
        "options": {}
      },
      "name": "🔍 NetBox: Query Virtual Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 580],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge and normalize all NetBox results into unified format\n// Sources:\n//   allItems[0] = VMs       (virtualization/virtual-machines, type=vm)\n//   allItems[1] = LXCs      (virtualization/virtual-machines?cf_vm_type=lxc, type=lxc)\n//   allItems[2] = Physical  (dcim/devices, device_class=physical)\n//   allItems[3] = Virtual   (dcim/devices?virtual_chassis=true, device_class=virtual_device)\n\nconst allItems = $input.all();\n\nfunction extractIP(primaryIp) {\n  if (!primaryIp || !primaryIp.address) return null;\n  return primaryIp.address.split('/')[0];\n}\n\nfunction getOsFamily(platform) {\n  if (!platform) return 'unknown';\n  const s = ((platform.slug || platform.name || '')).toLowerCase();\n  if (/debian|ubuntu|raspi|kali|mint|parrot|pop/.test(s))  return 'apt';\n  if (/alpine/.test(s))                                     return 'apk';\n  if (/arch|manjaro|endeavour/.test(s))                     return 'pacman';\n  if (/fedora|rhel|centos|rocky|alma|oracle/.test(s))       return 'dnf';\n  if (/suse|opensuse/.test(s))                              return 'zypper';\n  if (/routeros|mikrotik/.test(s))                          return 'routeros';\n  if (/openwrt/.test(s))                                    return 'opkg';\n  if (/vyos/.test(s))                                       return 'vyos';\n  if (/opnsense|pfsense/.test(s))                           return 'bsd';\n  if (/windows/.test(s))                                    return 'windows';\n  return 'unknown';\n}\n\nfunction normalizePlatform(raw) {\n  if (!raw) return null;\n  return { name: raw.name || '', slug: raw.slug || '' };\n}\n\n// Normalize a VM/LXC (virtualization endpoint)\nfunction normalizeVM(vm, typeOverride) {\n  const cfVmType = vm.custom_fields && vm.custom_fields.vm_type;\n  const type     = typeOverride || (cfVmType === 'lxc' ? 'lxc' : 'vm');\n  const platform = normalizePlatform(vm.platform);\n  return {\n    id:           vm.id,\n    name:         vm.name,\n    ip:           extractIP(vm.primary_ip4 || vm.primary_ip),\n    type,                          // 'lxc' | 'vm'\n    device_class: 'virtual',       // virtualization endpoint\n    platform,\n    os_family:    getOsFamily(platform),\n    ssh_user:     (vm.custom_fields && vm.custom_fields.ssh_user)     || 'root',\n    ssh_password: (vm.custom_fields && vm.custom_fields.ssh_password) || '',\n    cluster:      vm.cluster ? vm.cluster.name : null,\n    status:       vm.status  ? vm.status.value  : 'unknown'\n  };\n}\n\n// Normalize a physical or virtual-chassis device (dcim endpoint)\nfunction normalizeDevice(dev, isVirtualChassis) {\n  const platform = normalizePlatform(dev.platform);\n  return {\n    id:           dev.id,\n    name:         dev.name,\n    ip:           extractIP(dev.primary_ip4 || dev.primary_ip),\n    type:         'device',\n    device_class: isVirtualChassis ? 'virtual_device' : 'physical',\n    platform,\n    os_family:    getOsFamily(platform),\n    ssh_user:     (dev.custom_fields && dev.custom_fields.ssh_user)     || 'root',\n    ssh_password: (dev.custom_fields && dev.custom_fields.ssh_password) || '',\n    cluster:      dev.site ? dev.site.name : null,\n    status:       dev.status ? dev.status.value : 'unknown'\n  };\n}\n\nconst normalized = [];\n\n// allItems[0] = VMs, allItems[1] = LXCs → virtualization\nfor (let idx = 0; idx < 2; idx++) {\n  const item = allItems[idx];\n  if (!item || !item.json || !item.json.results) continue;\n  const typeOverride = idx === 1 ? 'lxc' : null;\n  for (const entry of item.json.results) {\n    normalized.push(normalizeVM(entry, typeOverride));\n  }\n}\n\n// allItems[2] = Physical devices\nif (allItems[2] && allItems[2].json && allItems[2].json.results) {\n  for (const dev of allItems[2].json.results) {\n    normalized.push(normalizeDevice(dev, false));\n  }\n}\n\n// allItems[3] = Virtual-chassis devices\nif (allItems[3] && allItems[3].json && allItems[3].json.results) {\n  for (const dev of allItems[3].json.results) {\n    normalized.push(normalizeDevice(dev, true));\n  }\n}\n\n// Deduplicate by type+id\nconst seen   = new Set();\nconst deduped = normalized.filter(item => {\n  const key = `${item.type}_${item.id}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nreturn [{ json: { systems: deduped, total: deduped.length } }];"
      },
      "name": "🔧 Merge & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 370]
    },
    {
      "parameters": {
        "jsCode": "const data   = $input.first().json;\nconst fp     = $('🔧 Parse Filter Parameters').first().json;\nconst systems = data.systems || [];\n\nlet filtered = [...systems];\n\nif (fp.filter_by_type && fp.filter_by_type !== '') {\n  filtered = filtered.filter(s => s.type === fp.filter_by_type);\n}\nif (fp.filter_by_ids && Array.isArray(fp.filter_by_ids) && fp.filter_by_ids.length > 0) {\n  const idSet = new Set(fp.filter_by_ids.map(String));\n  filtered = filtered.filter(s => idSet.has(String(s.id)));\n}\nif (fp.hostname && fp.hostname !== '') {\n  const hn = fp.hostname.toLowerCase();\n  filtered = filtered.filter(s => s.name && s.name.toLowerCase().includes(hn));\n}\n\nconst withIp = filtered.filter(s => s.ip);\n\nif (withIp.length === 0) {\n  return [{ json: { id: null, name: 'NO_SYSTEMS_FOUND', ip: null, type: null,\n    device_class: null, platform: null, os_family: 'unknown',\n    ssh_user: null, ssh_password: null, cluster: null, _empty: true } }];\n}\n\nreturn withIp.map(system => ({ json: system }));"
      },
      "name": "🔧 Apply Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 370]
    }
  ],
  "connections": {
    "📥 Input from Master": {
      "main": [[{ "node": "🔧 Parse Filter Parameters", "type": "main", "index": 0 }]]
    },
    "🔧 Parse Filter Parameters": {
      "main": [[
        { "node": "🔍 NetBox: Query VMs",             "type": "main", "index": 0 },
        { "node": "🔍 NetBox: Query LXCs",            "type": "main", "index": 0 },
        { "node": "🔍 NetBox: Query Physical Devices", "type": "main", "index": 0 },
        { "node": "🔍 NetBox: Query Virtual Devices",  "type": "main", "index": 0 }
      ]]
    },
    "🔍 NetBox: Query VMs":             { "main": [[{ "node": "🔧 Merge & Normalize", "type": "main", "index": 0 }]] },
    "🔍 NetBox: Query LXCs":            { "main": [[{ "node": "🔧 Merge & Normalize", "type": "main", "index": 1 }]] },
    "🔍 NetBox: Query Physical Devices":{ "main": [[{ "node": "🔧 Merge & Normalize", "type": "main", "index": 2 }]] },
    "🔍 NetBox: Query Virtual Devices": { "main": [[{ "node": "🔧 Merge & Normalize", "type": "main", "index": 3 }]] },
    "🔧 Merge & Normalize": { "main": [[{ "node": "🔧 Apply Filters", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "id": "Sp6DiNXwi5pfRjA7"
}
