n8n-workflows/sub/sub-netbox-infrastructure-loader.json
{
  "updatedAt": "2026-03-29T11:08:32.577Z",
  "createdAt": "2026-03-15T15:29:19.996Z",
  "id": "Sp6DiNXwi5pfRjA7",
  "name": "SUB: NetBox Infrastructure Loader",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "filter_by_type",
              "type": "string"
            },
            {
              "name": "filter_by_ids",
              "type": "string"
            },
            {
              "name": "hostname",
              "type": "string"
            }
          ]
        }
      },
      "name": "📥 Input from Master",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "id": "ee782b8b-9a73-46fe-82bc-6965538f8931"
    },
    {
      "id": "netbox-http-vms-001",
      "name": "🔍 NetBox: Get VMs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/virtualization/virtual-machines/?limit=500",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "netbox-http-devs-001",
      "name": "🔍 NetBox: Get Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://10.1.1.104/api/dcim/devices/?has_primary_ip=true&limit=500",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "netbox-normalize-001",
      "name": "🔧 NetBox: Normalize & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// NetBox: Normalize & Filter\n// Liest VMs + Devices aus vorherigen HTTP-Nodes (sequenziell, kein Fan-In-Problem).\nconst input      = $('📥 Input from Master').first().json;\nconst vmsData    = $('🔍 NetBox: Get VMs').first().json;\nconst devsData   = $('🔍 NetBox: Get Devices').first().json;\n\nfunction extractIP(primaryIp) {\n  if (!primaryIp || !primaryIp.address) return null;\n  return primaryIp.address.split('/')[0];\n}\n\nfunction getOsFamily(platform) {\n  if (!platform) return 'unknown';\n  const s = ((platform.slug || platform.name || '')).toLowerCase();\n  if (/debian|ubuntu|raspi|kali|mint|parrot|pop/.test(s))  return 'apt';\n  if (/alpine/.test(s))                                     return 'apk';\n  if (/arch|manjaro|endeavour/.test(s))                     return 'pacman';\n  if (/fedora|rhel|centos|rocky|alma|oracle/.test(s))       return 'dnf';\n  if (/suse|opensuse/.test(s))                              return 'zypper';\n  if (/routeros|mikrotik/.test(s))                          return 'routeros';\n  if (/openwrt/.test(s))                                    return 'opkg';\n  if (/vyos/.test(s))                                       return 'vyos';\n  if (/opnsense|pfsense/.test(s))                           return 'bsd';\n  if (/windows/.test(s))                                    return 'windows';\n  return 'unknown';\n}\n\nfunction normalizePlatform(raw) {\n  if (!raw) return null;\n  return { name: raw.name || '', slug: raw.slug || '' };\n}\n\nfunction normalizeVM(vm) {\n  const cfVmType = vm.custom_fields && vm.custom_fields.vm_type;\n  const type     = cfVmType === 'lxc' ? 'lxc' : 'vm';\n  const platform = normalizePlatform(vm.platform);\n  return {\n    id: vm.id, name: vm.name,\n    ip: extractIP(vm.primary_ip4 || vm.primary_ip),\n    type, device_class: 'virtual', platform,\n    os_family: getOsFamily(platform),\n    ssh_user:     (vm.custom_fields && vm.custom_fields.ssh_user)     || 'root',\n    ssh_password: (vm.custom_fields && vm.custom_fields.ssh_password) || '',\n    cluster: vm.cluster ? vm.cluster.name : null,\n    status:  vm.status  ? vm.status.value  : 'unknown'\n  };\n}\n\nfunction normalizeDevice(dev) {\n  const platform = normalizePlatform(dev.platform);\n  const isVC = dev.virtual_chassis !== null && dev.virtual_chassis !== undefined;\n  return {\n    id: dev.id, name: dev.name,\n    ip: extractIP(dev.primary_ip4 || dev.primary_ip),\n    type: 'device',\n    device_class: isVC ? 'virtual_device' : 'physical',\n    platform, os_family: getOsFamily(platform),\n    ssh_user:     (dev.custom_fields && dev.custom_fields.ssh_user)     || 'root',\n    ssh_password: (dev.custom_fields && dev.custom_fields.ssh_password) || '',\n    cluster: dev.site ? dev.site.name : null,\n    status:  dev.status ? dev.status.value : 'unknown'\n  };\n}\n\nconst normalized = [];\nfor (const vm  of (vmsData.results  || [])) normalized.push(normalizeVM(vm));\nfor (const dev of (devsData.results || [])) normalized.push(normalizeDevice(dev));\n\nconst seen   = new Set();\nconst deduped = normalized.filter(item => {\n  const key = item.type + '_' + item.id;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst byType = deduped.reduce((acc, s) => {\n  acc[s.type] = (acc[s.type] || 0) + 1;\n  return acc;\n}, {});\n\nconst filter_by_type = input.filter_by_type || null;\nconst filter_by_ids  = input.filter_by_ids  ? JSON.parse(input.filter_by_ids) : null;\nconst hostname       = input.hostname       || null;\n\nlet filtered = [...deduped];\n\nif (filter_by_type && filter_by_type !== '') {\n  filtered = filtered.filter(s => s.type === filter_by_type);\n}\nif (filter_by_ids && Array.isArray(filter_by_ids) && filter_by_ids.length > 0) {\n  const idSet = new Set(filter_by_ids.map(String));\n  filtered = filtered.filter(s => idSet.has(String(s.id)));\n}\nif (hostname && hostname !== '') {\n  const hn = hostname.toLowerCase();\n  filtered = filtered.filter(s => s.name && s.name.toLowerCase().includes(hn));\n}\n\nconst withIp = filtered.filter(s => s.ip);\n\nif (withIp.length === 0) {\n  return [{ json: {\n    id: null, name: 'NO_SYSTEMS_FOUND', ip: null, type: null,\n    device_class: null, platform: null, os_family: 'unknown',\n    ssh_user: null, ssh_password: null, cluster: null, _empty: true,\n    _debug: { filter_by_type, total_all: deduped.length, by_type: byType, filtered_count: filtered.length }\n  } }];\n}\n\nreturn withIp.map(system => ({ json: system }));\n"
      }
    }
  ],
  "connections": {
    "📥 Input from Master": {
      "main": [
        [
          {
            "node": "🔍 NetBox: Get VMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 NetBox: Get VMs": {
      "main": [
        [
          {
            "node": "🔍 NetBox: Get Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 NetBox: Get Devices": {
      "main": [
        [
          {
            "node": "🔧 NetBox: Normalize & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c3e1e529-8b07-41b5-9419-939f5a424f84",
  "activeVersionId": "c3e1e529-8b07-41b5-9419-939f5a424f84",
  "versionCounter": 165,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T15:29:19.998Z",
      "createdAt": "2026-03-15T15:29:19.998Z",
      "role": "workflow:owner",
      "workflowId": "Sp6DiNXwi5pfRjA7",
      "projectId": "TKpGt6PASoN8CNtU",
      "project": {
        "updatedAt": "2025-10-04T18:35:36.086Z",
        "createdAt": "2025-10-04T18:27:37.663Z",
        "id": "TKpGt6PASoN8CNtU",
        "name": "Marco Doehler <marcofpo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T11:08:32.578Z",
    "createdAt": "2026-03-29T11:08:32.578Z",
    "versionId": "c3e1e529-8b07-41b5-9419-939f5a424f84",
    "workflowId": "Sp6DiNXwi5pfRjA7",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "filter_by_type",
                "type": "string"
              },
              {
                "name": "filter_by_ids",
                "type": "string"
              },
              {
                "name": "hostname",
                "type": "string"
              }
            ]
          }
        },
        "name": "📥 Input from Master",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ],
        "id": "ee782b8b-9a73-46fe-82bc-6965538f8931"
      },
      {
        "id": "netbox-http-vms-001",
        "name": "🔍 NetBox: Get VMs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://10.1.1.104/api/virtualization/virtual-machines/?limit=500",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "netbox-http-devs-001",
        "name": "🔍 NetBox: Get Devices",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://10.1.1.104/api/dcim/devices/?has_primary_ip=true&limit=500",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token 6e517f4e4fd4b3f3d3de63770bd79e6faacf0fe4"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "netbox-normalize-001",
        "name": "🔧 NetBox: Normalize & Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// NetBox: Normalize & Filter\n// Liest VMs + Devices aus vorherigen HTTP-Nodes (sequenziell, kein Fan-In-Problem).\nconst input      = $('📥 Input from Master').first().json;\nconst vmsData    = $('🔍 NetBox: Get VMs').first().json;\nconst devsData   = $('🔍 NetBox: Get Devices').first().json;\n\nfunction extractIP(primaryIp) {\n  if (!primaryIp || !primaryIp.address) return null;\n  return primaryIp.address.split('/')[0];\n}\n\nfunction getOsFamily(platform) {\n  if (!platform) return 'unknown';\n  const s = ((platform.slug || platform.name || '')).toLowerCase();\n  if (/debian|ubuntu|raspi|kali|mint|parrot|pop/.test(s))  return 'apt';\n  if (/alpine/.test(s))                                     return 'apk';\n  if (/arch|manjaro|endeavour/.test(s))                     return 'pacman';\n  if (/fedora|rhel|centos|rocky|alma|oracle/.test(s))       return 'dnf';\n  if (/suse|opensuse/.test(s))                              return 'zypper';\n  if (/routeros|mikrotik/.test(s))                          return 'routeros';\n  if (/openwrt/.test(s))                                    return 'opkg';\n  if (/vyos/.test(s))                                       return 'vyos';\n  if (/opnsense|pfsense/.test(s))                           return 'bsd';\n  if (/windows/.test(s))                                    return 'windows';\n  return 'unknown';\n}\n\nfunction normalizePlatform(raw) {\n  if (!raw) return null;\n  return { name: raw.name || '', slug: raw.slug || '' };\n}\n\nfunction normalizeVM(vm) {\n  const cfVmType = vm.custom_fields && vm.custom_fields.vm_type;\n  const type     = cfVmType === 'lxc' ? 'lxc' : 'vm';\n  const platform = normalizePlatform(vm.platform);\n  return {\n    id: vm.id, name: vm.name,\n    ip: extractIP(vm.primary_ip4 || vm.primary_ip),\n    type, device_class: 'virtual', platform,\n    os_family: getOsFamily(platform),\n    ssh_user:     (vm.custom_fields && vm.custom_fields.ssh_user)     || 'root',\n    ssh_password: (vm.custom_fields && vm.custom_fields.ssh_password) || '',\n    cluster: vm.cluster ? vm.cluster.name : null,\n    status:  vm.status  ? vm.status.value  : 'unknown'\n  };\n}\n\nfunction normalizeDevice(dev) {\n  const platform = normalizePlatform(dev.platform);\n  const isVC = dev.virtual_chassis !== null && dev.virtual_chassis !== undefined;\n  return {\n    id: dev.id, name: dev.name,\n    ip: extractIP(dev.primary_ip4 || dev.primary_ip),\n    type: 'device',\n    device_class: isVC ? 'virtual_device' : 'physical',\n    platform, os_family: getOsFamily(platform),\n    ssh_user:     (dev.custom_fields && dev.custom_fields.ssh_user)     || 'root',\n    ssh_password: (dev.custom_fields && dev.custom_fields.ssh_password) || '',\n    cluster: dev.site ? dev.site.name : null,\n    status:  dev.status ? dev.status.value : 'unknown'\n  };\n}\n\nconst normalized = [];\nfor (const vm  of (vmsData.results  || [])) normalized.push(normalizeVM(vm));\nfor (const dev of (devsData.results || [])) normalized.push(normalizeDevice(dev));\n\nconst seen   = new Set();\nconst deduped = normalized.filter(item => {\n  const key = item.type + '_' + item.id;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst byType = deduped.reduce((acc, s) => {\n  acc[s.type] = (acc[s.type] || 0) + 1;\n  return acc;\n}, {});\n\nconst filter_by_type = input.filter_by_type || null;\nconst filter_by_ids  = input.filter_by_ids  ? JSON.parse(input.filter_by_ids) : null;\nconst hostname       = input.hostname       || null;\n\nlet filtered = [...deduped];\n\nif (filter_by_type && filter_by_type !== '') {\n  filtered = filtered.filter(s => s.type === filter_by_type);\n}\nif (filter_by_ids && Array.isArray(filter_by_ids) && filter_by_ids.length > 0) {\n  const idSet = new Set(filter_by_ids.map(String));\n  filtered = filtered.filter(s => idSet.has(String(s.id)));\n}\nif (hostname && hostname !== '') {\n  const hn = hostname.toLowerCase();\n  filtered = filtered.filter(s => s.name && s.name.toLowerCase().includes(hn));\n}\n\nconst withIp = filtered.filter(s => s.ip);\n\nif (withIp.length === 0) {\n  return [{ json: {\n    id: null, name: 'NO_SYSTEMS_FOUND', ip: null, type: null,\n    device_class: null, platform: null, os_family: 'unknown',\n    ssh_user: null, ssh_password: null, cluster: null, _empty: true,\n    _debug: { filter_by_type, total_all: deduped.length, by_type: byType, filtered_count: filtered.length }\n  } }];\n}\n\nreturn withIp.map(system => ({ json: system }));\n"
        }
      }
    ],
    "connections": {
      "📥 Input from Master": {
        "main": [
          [
            {
              "node": "🔍 NetBox: Get VMs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 NetBox: Get VMs": {
        "main": [
          [
            {
              "node": "🔍 NetBox: Get Devices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 NetBox: Get Devices": {
        "main": [
          [
            {
              "node": "🔧 NetBox: Normalize & Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marco Doehler",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T11:08:32.649Z",
        "id": 344,
        "workflowId": "Sp6DiNXwi5pfRjA7",
        "versionId": "c3e1e529-8b07-41b5-9419-939f5a424f84",
        "event": "activated",
        "userId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
      },
      {
        "createdAt": "2026-03-29T11:08:32.627Z",
        "id": 343,
        "workflowId": "Sp6DiNXwi5pfRjA7",
        "versionId": "c3e1e529-8b07-41b5-9419-939f5a424f84",
        "event": "deactivated",
        "userId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
      }
    ]
  }
}