n8n-workflows/sub/sub-health-check.json
{
  "name": "SUB: System Health Check",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "id", "type": "number" },
            { "name": "name", "type": "string" },
            { "name": "ip", "type": "string" },
            { "name": "type", "type": "string" },
            { "name": "ssh_user", "type": "string" },
            { "name": "ssh_password", "type": "string" }
          ]
        }
      },
      "name": "📥 Input from Master",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build health check prompt based on system type\nconst input = $input.first().json;\n\nconst { id, name, ip, type, ssh_user, ssh_password } = input;\n\nconst PROXMOX_HOST = '10.1.1.100';\nconst isLXC = type === 'lxc';\n\n// Build commands based on type\nlet exec_prefix;\nif (isLXC) {\n  exec_prefix = `pct exec ${id} --`;\n} else {\n  exec_prefix = `ssh ${ssh_user}@${ip}`;\n}\n\nconst health_commands = [\n  // Disk usage\n  `${exec_prefix} df -h --output=pcent,target | tail -n +2 | sort -rn`,\n  // Memory\n  `${exec_prefix} free -m | grep Mem`,\n  // CPU load\n  `${exec_prefix} cat /proc/loadavg`,\n  // Failed services\n  `${exec_prefix} systemctl --failed --no-legend 2>/dev/null | head -20 || true`,\n  // Critical processes\n  `${exec_prefix} ps aux --sort=-%mem | head -5 2>/dev/null || true`\n];\n\nconst connection_info = isLXC\n  ? `Use SSH to connect to Proxmox host ${PROXMOX_HOST} as root, then use pct exec ${id} -- <command> for each check.`\n  : `Use SSH to connect directly to ${ip} as ${ssh_user}.`;\n\nconst prompt = `You are a Linux system administrator performing a health check on: ${name} (${type}, ${ip || 'LXC'}).\n\n${connection_info}\n\nExecute these health checks:\n1. Disk usage: df -h --output=pcent,target | tail -n +2 | sort -rn | head -10\n2. Memory: free -m\n3. CPU load average: cat /proc/loadavg\n4. Failed services: systemctl --failed --no-legend 2>/dev/null | head -20\n5. Top memory consumers: ps aux --sort=-%mem | head -5 2>/dev/null\n\nAnalyze results and determine health status:\n- \"ok\": disk < 80%, memory < 85%, load < cores*2, no failed services\n- \"warning\": disk 80-90% OR memory 85-95% OR load high OR some non-critical failed services\n- \"critical\": disk > 90% OR memory > 95% OR load very high OR critical services failed\n\nRespond ONLY with valid JSON:\n{\n  \"health_status\": \"ok|warning|critical\",\n  \"disk_usage_pct\": <highest disk usage percentage as integer>,\n  \"memory_usage_pct\": <used/total*100 as integer>,\n  \"cpu_load\": <1-minute load average as float>,\n  \"services_ok\": true|false,\n  \"failed_services\": [\"<service name>\"],\n  \"disk_details\": [{\"mount\": \"/\", \"usage_pct\": 45}],\n  \"recommendations\": [\"<actionable recommendation>\"]\n}`;\n\nconst system_prompt = 'You are an expert Linux system administrator. Perform health checks and respond ONLY with valid JSON. No markdown, no code blocks.';\n\nreturn [{\n  json: {\n    id, name, ip, type, ssh_user, ssh_password,\n    prompt,\n    system_prompt,\n    is_lxc: isLXC,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "name": "🔧 Build Health Check Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.1.1.105:3001/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer dummy-key" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"default\",\"messages\":[{\"role\":\"system\",\"content\":{{ JSON.stringify($json.system_prompt) }}},{\"role\":\"user\",\"content\":{{ JSON.stringify($json.prompt) }}}],\"max_tokens\":1024}",
        "options": { "timeout": 90000 }
      },
      "name": "🤖 Claude: Execute Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse health check result\nconst response = $input.first().json;\nconst promptData = $('🔧 Build Health Check Prompt').first().json;\n\nlet health_status = 'warning';\nlet disk_usage_pct = 0;\nlet memory_usage_pct = 0;\nlet cpu_load = 0;\nlet services_ok = true;\nlet failed_services = [];\nlet disk_details = [];\nlet recommendations = [];\nlet parse_error = null;\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '{}';\n  // Clean up markdown if present\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    health_status = parsed.health_status || 'warning';\n    disk_usage_pct = parsed.disk_usage_pct || 0;\n    memory_usage_pct = parsed.memory_usage_pct || 0;\n    cpu_load = parsed.cpu_load || 0;\n    services_ok = parsed.services_ok !== undefined ? parsed.services_ok : true;\n    failed_services = parsed.failed_services || [];\n    disk_details = parsed.disk_details || [];\n    recommendations = parsed.recommendations || [];\n  }\n} catch (e) {\n  parse_error = e.message;\n  health_status = 'warning';\n}\n\nreturn [{\n  json: {\n    name: promptData.name,\n    id: promptData.id,\n    type: promptData.type,\n    ip: promptData.ip,\n    health_status,\n    disk_usage_pct,\n    memory_usage_pct,\n    cpu_load,\n    services_ok,\n    failed_services,\n    disk_details,\n    recommendations,\n    parse_error,\n    checked_at: promptData.checked_at\n  }\n}];"
      },
      "name": "🔧 Parse Health Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "📥 Input from Master": {
      "main": [
        [{ "node": "🔧 Build Health Check Prompt", "type": "main", "index": 0 }]
      ]
    },
    "🔧 Build Health Check Prompt": {
      "main": [
        [{ "node": "🤖 Claude: Execute Health Check", "type": "main", "index": 0 }]
      ]
    },
    "🤖 Claude: Execute Health Check": {
      "main": [
        [{ "node": "🔧 Parse Health Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}
