n8n-workflows/master/master-analyser.json
{
  "name": "MASTER: System Analyser",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "name": "⏰ Schedule: Daily 01:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {},
      "name": "▶️ Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log_lines",
              "name": "log_lines",
              "value": 100,
              "type": "number"
            },
            {
              "id": "notification_channels",
              "name": "notification_channels",
              "value": "[\"matrix\"]",
              "type": "string"
            },
            {
              "id": "run_id",
              "name": "run_id",
              "value": "={{ 'analyse_' + $now.toFormat('yyyyMMdd_HHmmss') }}",
              "type": "string"
            },
            {
              "id": "critical_alert_threshold",
              "name": "critical_alert_threshold",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "📋 Set Analyse Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Sp6DiNXwi5pfRjA7"
        },
        "workflowInputs": {
          "value": {
            "filter_by_type": "",
            "filter_by_ids": "",
            "hostname": ""
          },
          "schema": [
            {
              "id": "filter_by_type",
              "displayName": "filter_by_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filter_by_ids",
              "displayName": "filter_by_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hostname",
              "displayName": "hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "🔗 SUB: NetBox Loader",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        600,
        300
      ],
      "notes": "Lädt alle Systeme aus NetBox. Gibt jeden System-Eintrag als einzelnes Item zurück."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "🔄 Loop Over Systems",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "vm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "vm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "lxc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "lxc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "device",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "device"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "🔀 Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ],
      "notes": "Routet nach Systemtyp. Alle Typen gehen in die gleichen Sub-Workflows, aber Claude generiert unterschiedliche Prompts basierend auf dem type-Feld."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "6Ffe7nex0vMk9Aj5"
        },
        "workflowInputs": {
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "ip": "={{ $json.ip }}",
            "type": "={{ $json.type }}",
            "ssh_user": "={{ $json.ssh_user || 'root' }}",
            "ssh_password": "={{ $json.ssh_password || '' }}",
            "lines": "={{ $('📋 Set Analyse Config').first().json.log_lines }}"
          },
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_user",
              "displayName": "ssh_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_password",
              "displayName": "ssh_password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lines",
              "displayName": "lines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "📋 SUB: Log Analyser (VM)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1200,
        100
      ],
      "notes": "Analysiert System-Logs via Claude. Für VMs direkt per SSH, für LXCs via pct exec."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "6Ffe7nex0vMk9Aj5"
        },
        "workflowInputs": {
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "ip": "={{ $json.ip }}",
            "type": "={{ $json.type }}",
            "ssh_user": "={{ $json.ssh_user || 'root' }}",
            "ssh_password": "={{ $json.ssh_password || '' }}",
            "lines": "={{ $('📋 Set Analyse Config').first().json.log_lines }}"
          },
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_user",
              "displayName": "ssh_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_password",
              "displayName": "ssh_password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lines",
              "displayName": "lines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "📋 SUB: Log Analyser (LXC)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ],
      "notes": "Gleicher Sub-Workflow wie VM – Claude erkennt anhand des type-Felds, dass pct exec verwendet werden soll."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "6Ffe7nex0vMk9Aj5"
        },
        "workflowInputs": {
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "ip": "={{ $json.ip }}",
            "type": "={{ $json.type }}",
            "ssh_user": "={{ $json.ssh_user || 'root' }}",
            "ssh_password": "={{ $json.ssh_password || '' }}",
            "lines": "={{ $('📋 Set Analyse Config').first().json.log_lines }}"
          },
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_user",
              "displayName": "ssh_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_password",
              "displayName": "ssh_password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lines",
              "displayName": "lines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "📋 SUB: Log Analyser (Device)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1200,
        500
      ],
      "notes": "Devices (physische Switches/Router) werden direkt per SSH analysiert."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "NM8Xd6QzlnAc6oy3"
        },
        "workflowInputs": {
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "ip": "={{ $json.ip }}",
            "type": "={{ $json.type }}",
            "ssh_user": "={{ $json.ssh_user || 'root' }}",
            "ssh_password": "={{ $json.ssh_password || '' }}"
          },
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_user",
              "displayName": "ssh_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ssh_password",
              "displayName": "ssh_password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "🏥 SUB: Health Check",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1400,
        300
      ],
      "notes": "Prüft Disk/Memory/CPU/Services. Output: health_status (ok/warning/critical), Metriken."
    },
    {
      "parameters": {
        "jsCode": "// Collect issues from log analysis and health check, combine with system info\nconst allItems = $input.all();\nconst healthData = allItems[0]?.json || {};\n\n// Try to get log analysis result (from previous nodes in the loop)\nlet logData = {};\ntry {\n  // Try to access log analyser result - may come from any of the 3 routes\n  const logItems = [\n    ...(($('📋 SUB: Log Analyser (VM)').all && $('📋 SUB: Log Analyser (VM)').all()) || []),\n    ...(($('📋 SUB: Log Analyser (LXC)').all && $('📋 SUB: Log Analyser (LXC)').all()) || []),\n    ...(($('📋 SUB: Log Analyser (Device)').all && $('📋 SUB: Log Analyser (Device)').all()) || [])\n  ];\n  if (logItems.length > 0) logData = logItems[logItems.length - 1].json;\n} catch (e) {}\n\nconst issues = logData.issues || [];\nconst criticalIssues = issues.filter(i => i.severity === 'critical');\nconst hasCritical = criticalIssues.length > 0 || healthData.health_status === 'critical';\n\nreturn [{\n  json: {\n    name: healthData.name || logData.name || 'Unknown',\n    type: healthData.type || logData.type || 'unknown',\n    ip: healthData.ip || logData.ip || 'N/A',\n    health_status: healthData.health_status || 'unknown',\n    disk_usage_pct: healthData.disk_usage_pct || 0,\n    memory_usage_pct: healthData.memory_usage_pct || 0,\n    cpu_load: healthData.cpu_load || 0,\n    services_ok: healthData.services_ok !== undefined ? healthData.services_ok : true,\n    log_issues: issues,\n    has_issues: logData.has_issues || false,\n    has_critical: hasCritical,\n    critical_issues: criticalIssues\n  }\n}];"
      },
      "name": "🔧 Collect Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "notes": "Kombiniert Health-Check und Log-Analyse Ergebnisse pro System"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "critical-check",
              "leftValue": "={{ $json.has_critical }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "✅ Check: Critical Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "TmyAkITcb41Ti3Ev"
        },
        "workflowInputs": {
          "value": {
            "title": "=🚨 CRITICAL: {{ $json.name }}",
            "message": "=System {{ $json.name }} ({{ $json.type }}) hat kritische Issues!\n\nDisk: {{ $json.disk_usage_pct }}% | Memory: {{ $json.memory_usage_pct }}% | CPU: {{ $json.cpu_load }}\n\nKritische Issues: {{ JSON.stringify($json.critical_issues) }}",
            "severity": "critical",
            "channels": "[\"matrix\"]"
          },
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channels",
              "displayName": "channels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "🚨 SUB: Notification (Critical)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2000,
        100
      ],
      "notes": "Sofortige Critical-Benachrichtigung – wird NICHT auf den Tages-Report gewartet"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all system results for the daily report\nconst allItems = $input.all();\nconst systems = allItems.map(i => i.json).filter(s => s && s.name);\n\nconst summary = {\n  run_id: $('📋 Set Analyse Config').first().json.run_id || 'unknown',\n  date: new Date().toISOString().slice(0, 10),\n  total_systems: systems.length,\n  critical: systems.filter(s => s.health_status === 'critical' || s.has_critical).length,\n  warning: systems.filter(s => s.health_status === 'warning' && !s.has_critical).length,\n  ok: systems.filter(s => s.health_status === 'ok' && !s.has_critical).length,\n  with_issues: systems.filter(s => s.has_issues).length\n};\n\nreturn [{\n  json: {\n    summary,\n    systems,\n    report_data: JSON.stringify(systems)\n  }\n}];"
      },
      "name": "🔧 Aggregate Daily Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "NwfqZNDoN8zjEMaf"
        },
        "workflowInputs": {
          "value": {
            "report_type": "analyse",
            "title": "=📊 Tages-Analyse {{ $json.summary.date }}",
            "data": "={{ $json.report_data }}",
            "format": "markdown"
          },
          "schema": [
            {
              "id": "report_type",
              "displayName": "report_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "📊 SUB: Report Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2200,
        400
      ],
      "notes": "Erstellt täglichen Analyse-Report mit Health-Overview und Issue-Details"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "TmyAkITcb41Ti3Ev"
        },
        "workflowInputs": {
          "value": {
            "title": "=📊 Tages-Report {{ $('🔧 Aggregate Daily Data').first().json.summary.date }}",
            "message": "={{ $json.report_content.slice(0, 3000) }}",
            "severity": "=={{ $('🔧 Aggregate Daily Data').first().json.summary.critical > 0 ? 'warning' : 'info' }}",
            "channels": "[\"matrix\"]"
          },
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channels",
              "displayName": "channels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "🔔 SUB: Notification (Daily)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2400,
        400
      ],
      "notes": "Sendet tägliche Zusammenfassung via Matrix"
    }
  ],
  "connections": {
    "⏰ Schedule: Daily 01:00": {
      "main": [
        [
          {
            "node": "📋 Set Analyse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Manual Trigger": {
      "main": [
        [
          {
            "node": "📋 Set Analyse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Analyse Config": {
      "main": [
        [
          {
            "node": "🔗 SUB: NetBox Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 SUB: NetBox Loader": {
      "main": [
        [
          {
            "node": "🔄 Loop Over Systems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Loop Over Systems": {
      "main": [
        [
          {
            "node": "🔀 Route by Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔧 Aggregate Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by Type": {
      "main": [
        [
          {
            "node": "📋 SUB: Log Analyser (VM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 SUB: Log Analyser (LXC)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 SUB: Log Analyser (Device)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 SUB: Log Analyser (VM)": {
      "main": [
        [
          {
            "node": "🏥 SUB: Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 SUB: Log Analyser (LXC)": {
      "main": [
        [
          {
            "node": "🏥 SUB: Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 SUB: Log Analyser (Device)": {
      "main": [
        [
          {
            "node": "🏥 SUB: Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 SUB: Health Check": {
      "main": [
        [
          {
            "node": "🔧 Collect Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Collect Issues": {
      "main": [
        [
          {
            "node": "✅ Check: Critical Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check: Critical Issues?": {
      "main": [
        [
          {
            "node": "🚨 SUB: Notification (Critical)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Loop Over Systems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 SUB: Notification (Critical)": {
      "main": [
        [
          {
            "node": "🔄 Loop Over Systems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Aggregate Daily Data": {
      "main": [
        [
          {
            "node": "📊 SUB: Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 SUB: Report Generator": {
      "main": [
        [
          {
            "node": "🔔 SUB: Notification (Daily)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "pinData": {}
}