n8n-workflows/master/master-auto-ticket-processor.json
{
  "name": "MASTER: Auto-Ticket-Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "name": "⏰ Schedule: Alle 30 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "name": "▶️ Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "jsCode": "// Zeitfilter: Tickets älter als 5 Minuten\nconst now = new Date();\nconst cutoffMs = now.getTime() - (5 * 60 * 1000);\nconst cutoff = new Date(cutoffMs);\n\nconst pad = n => String(n).padStart(2, '0');\n// UTC-Zeit für Znuny (Server läuft auf UTC)\nconst cutoffStr = `${cutoff.getUTCFullYear()}-${pad(cutoff.getUTCMonth()+1)}-${pad(cutoff.getUTCDate())} ${pad(cutoff.getUTCHours())}:${pad(cutoff.getUTCMinutes())}:${pad(cutoff.getUTCSeconds())}`;\n\nconst params = new URLSearchParams({\n  UserLogin: 'root@localhost',\n  Password: 'ZnunyAdmin2026!',\n  'States[0]': 'new',\n  TicketCreateTimeOlderDate: cutoffStr,\n  Limit: '20',\n  SortBy: 'Age',\n  OrderBy: 'Down'\n});\n\nreturn [{ json: {\n  run_time: now.toISOString(),\n  cutoff_time: cutoffStr,\n  max_tickets: 2,\n  query_string: params.toString()\n} }];"
      },
      "name": "📋 Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://10.1.1.182/znuny/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket?{{ $json.query_string }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000
        }
      },
      "name": "🔍 Znuny: TicketSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const config = $('📋 Set Config').first().json;\nconst r = $input.first().json;\n\nif (r.Error) {\n  return [{ json: {\n    ticket_ids: [],\n    count: 0,\n    total_found: 0,\n    error: `${r.Error.ErrorCode}: ${r.Error.ErrorMessage}`\n  } }];\n}\n\nconst raw = r.TicketID;\nconst all_ids = Array.isArray(raw)\n  ? raw.map(Number)\n  : (raw != null ? [Number(raw)] : []);\n\n// Auf max. 2 Tickets begrenzen\n// SortBy=Age&OrderBy=Down → älteste Tickets zuerst\nconst ticket_ids = all_ids.slice(0, config.max_tickets);\n\nreturn [{ json: {\n  ticket_ids,\n  count: ticket_ids.length,\n  total_found: all_ids.length,\n  cutoff_time: config.cutoff_time,\n  error: null\n} }];"
      },
      "name": "🔧 Parse & Limit auf 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "name": "✅ IF: Tickets gefunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: {\n  status: 'no_new_tickets',\n  message: `Keine Tickets im Status 'new' (älter als 5 Min) gefunden.`,\n  total_found: result.total_found || 0,\n  checked_at: new Date().toISOString()\n} }];"
      },
      "name": "📋 Log: Keine Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "jsCode": "// Ticket-IDs in Einzel-Items aufteilen für den Loop\nconst { ticket_ids, cutoff_time } = $input.first().json;\nreturn ticket_ids.map(id => ({ json: { ticket_id: id, cutoff_time } }));"
      },
      "name": "🔧 Split zu Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "🔄 Loop: Pro Ticket",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "jsCode": "const { ticket_id } = $input.first().json;\nreturn [{ json: {\n  ticket_id: ticket_id,\n  triggered_at: new Date().toISOString()\n} }];"
      },
      "name": "🔧 Build Webhook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.1.1.180:80/webhook/znuny-new-ticket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: $json.ticket_id }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "🚀 Trigger: Incident Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// N→1 Collapse vor Loop-Rückpfad (splitInBatches Constraint)\nreturn [{ json: { done: true } }];"
      },
      "name": "🔧 Collapse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "⏰ Schedule: Alle 30 Minuten": {
      "main": [
        [
          { "node": "📋 Set Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "▶️ Manual Trigger": {
      "main": [
        [
          { "node": "📋 Set Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "📋 Set Config": {
      "main": [
        [
          { "node": "🔍 Znuny: TicketSearch", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔍 Znuny: TicketSearch": {
      "main": [
        [
          { "node": "🔧 Parse & Limit auf 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔧 Parse & Limit auf 2": {
      "main": [
        [
          { "node": "✅ IF: Tickets gefunden?", "type": "main", "index": 0 }
        ]
      ]
    },
    "✅ IF: Tickets gefunden?": {
      "main": [
        [
          { "node": "🔧 Split zu Items", "type": "main", "index": 0 }
        ],
        [
          { "node": "📋 Log: Keine Tickets", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔧 Split zu Items": {
      "main": [
        [
          { "node": "🔄 Loop: Pro Ticket", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔄 Loop: Pro Ticket": {
      "main": [
        [
          { "node": "🔧 Build Webhook Payload", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "🔧 Build Webhook Payload": {
      "main": [
        [
          { "node": "🚀 Trigger: Incident Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "🚀 Trigger: Incident Response": {
      "main": [
        [
          { "node": "🔧 Collapse", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔧 Collapse": {
      "main": [
        [
          { "node": "🔄 Loop: Pro Ticket", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 300,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
