n8n-workflows/master/master-log-analyser.json
{"updatedAt":"2026-03-29T08:43:39.600Z","createdAt":"2026-03-23T20:10:44.335Z","id":"pPJ4lVht3s3I0816","name":"MASTER: Log Analyser","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * 0"}]}},"name":"⏰ Schedule: Wöchentlich So 02:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[200,300],"id":"dda1d420-b5bd-4855-bcad-3e2217661b30"},{"parameters":{},"name":"▶️ Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,500],"id":"bbf2b9df-9257-419f-b750-46b64dd2e2ac"},{"parameters":{"jsCode":"return [{ json: {\n  run_id:          'log_analyse_' + new Date().toISOString().replace(/[^0-9]/g,'').slice(0,14),\n  run_date:        new Date().toISOString(),\n  log_since_days:  7,\n  // LXC-Namen die ausgeschlossen werden (n8n selbst + Claude Code API)\n  exclude_names:   ['n8n', 'claude'],\n  tickets_created: 0\n} }];"},"name":"📋 Set Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"id":"fad70df7-b169-4088-83d2-383b722864ac"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Sp6DiNXwi5pfRjA7"},"workflowInputs":{"values":[{"name":"filter_by_type","value":"device"}]}},"name":"🌐 P1: NetBox Devices laden","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[660,300],"id":"1b40b68c-5b19-4c1f-b326-766438df0bad"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst systems = data.systems || [];\n// Nur Devices (physical + virtual_device aus dcim/devices).\n// LXCs und VMs laufen separat in Phase 2 – verhindert Doppelverarbeitung.\nconst active = systems.filter(s => s.ip && s.type === 'device');\nif (active.length === 0) {\n  return [{ json: { _skip: true, name: '__no_devices__', ip: null } }];\n}\nreturn active.map(s => ({ json: s }));"},"name":"🔧 P1: Filter Devices","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"id":"3325cc8e-3341-45df-89a9-7ea8561f573a"},{"parameters":{"batchSize":1,"options":{}},"name":"🔄 P1: Loop Devices","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,300],"id":"19e675f2-5394-46dc-91b5-da3f6bc112fd"},{"parameters":{"jsCode":"const sys    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nif (sys._skip) return [{ json: { _skip: true, system_name: sys.name } }];\n\nconst ssh_user   = sys.ssh_user   || 'root';\nconst ssh_pass   = sys.ssh_password || '';\nconst ssh_prefix = ssh_pass\n  ? `sshpass -p '${ssh_pass}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -o BatchMode=no ${ssh_user}@${sys.ip}`\n  : `ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 ${ssh_user}@${sys.ip}`;\n\nconst isRouterOS = sys.os_family === 'routeros';\nconst isVyOS     = sys.os_family === 'vyos';\nconst isBSD      = sys.os_family === 'bsd';\n\n// === RouterOS / MikroTik ===\nconst routeros_cmds = [\n  `/log print where topics~\"error\" or topics~\"critical\" or topics~\"warning\"`,\n  `/log print where topics~\"error\"`,\n  `/log print where topics~\"critical\"`,\n  `/log print where topics~\"warning\"`,\n  `/system health print`,\n  `/system resource print`,\n  `/interface print stats where running=no`,\n  `/ip firewall filter print where action=drop`,\n  `/system logging print`,\n].join('\\n');\n\n// === VyOS ===\nconst vyos_cmds = [\n  `show log`,\n  `show log | grep -iE 'warn|error|crit|fail|fatal'`,\n  `show system`,\n  `show interfaces`,\n].join('\\n');\n\n// === BSD / OPNsense / pfSense ===\nconst bsd_cmds = [\n  `grep -iE 'warn|error|crit|fail|fatal|alert|emerg' /var/log/system.log 2>/dev/null | tail -500`,\n  `dmesg 2>/dev/null`,\n  `cat /var/log/filter.log 2>/dev/null | tail -200`,\n  `cat /var/log/nginx/error.log 2>/dev/null | tail -100`,\n].join('\\n');\n\n// === Linux (alle Distributions) ===\nconst linux_cmds = [\n\n  // --- System Journal: alle Warnings und höher, letzten N Tage ---\n  `echo \"=== JOURNALCTL SYSTEM (${config.log_since_days}d, prio>=warning) ===\"`,\n  `journalctl --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | head -2000`,\n\n  // --- aktueller Boot: alle Warnings und höher ---\n  `echo \"=== JOURNALCTL AKTUELLER BOOT (prio>=warning) ===\"`,\n  `journalctl -b --no-pager -p warning 2>/dev/null | head -1000`,\n\n  // --- vorheriger Boot (falls vorhanden) ---\n  `echo \"=== JOURNALCTL VORHERIGER BOOT (prio>=warning) ===\"`,\n  `journalctl -b -1 --no-pager -p warning 2>/dev/null | head -500`,\n\n  // --- dmesg: ALLE kritischen Level ---\n  `echo \"=== DMESG (warn/err/crit/alert/emerg) ===\"`,\n  `dmesg --level=warn,err,crit,alert,emerg 2>/dev/null || dmesg 2>/dev/null | grep -iE '\\\\[warn\\\\]|\\\\[err\\\\]|\\\\[crit\\\\]|warn:|error:|critical:'`,\n\n  // --- dmesg: OOM-Killer ---\n  `echo \"=== DMESG: OOM / Out-of-Memory ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'oom|out of memory|killed process|oom_kill|memory pressure'`,\n\n  // --- dmesg: Disk / I/O Fehler ---\n  `echo \"=== DMESG: Disk / I/O Fehler ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'ata[0-9]|sata|nvme|i/o error|buffer i/o|blk_update_request|medium error|read error|write error|sector'`,\n\n  // --- dmesg: Hardware-Fehler (MCE, ECC, CPU) ---\n  `echo \"=== DMESG: Hardware-Fehler ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'mce|machine check|hardware error|corrected error|uncorrected|edac|pcie.*error|nmi'`,\n\n  // --- Klassische Log-Dateien (aktuell + rotiert) ---\n  `for log in /var/log/syslog /var/log/syslog.1 /var/log/messages /var/log/messages.1 /var/log/kern.log /var/log/kern.log.1 /var/log/auth.log /var/log/boot.log; do [ -f \"$log\" ] && echo \"=== $log ===\" && grep -iE 'warn|error|crit|fail|fatal|alert|emerg' \"$log\" 2>/dev/null | head -200; done`,\n\n  // --- Failed/Degraded Services ---\n  `echo \"=== FAILED / DEGRADED SERVICES ===\"`,\n  `systemctl list-units --state=failed,degraded --no-legend 2>/dev/null`,\n  `systemctl --failed --no-legend 2>/dev/null`,\n\n  // --- Service-Logs: alle aktiven Services mit Warnings ---\n  `echo \"=== SERVICE WARNINGS (${config.log_since_days}d) ===\"`,\n  `for svc in $(systemctl list-units --type=service --state=active --no-legend 2>/dev/null | awk '{print $1}' | grep -v '@' | head -60); do out=$(journalctl -u $svc --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | head -50); [ -n \"$out\" ] && echo \"--- SERVICE: $svc ---\" && echo \"$out\"; done`,\n\n  // --- Core Dumps ---\n  `echo \"=== CORE DUMPS ===\"`,\n  `ls -la /var/crash/ 2>/dev/null; ls -la /var/lib/systemd/coredump/ 2>/dev/null; coredumpctl list 2>/dev/null | tail -20`,\n\n  // --- App: nginx ---\n  `[ -d /var/log/nginx ] && echo \"=== APP: nginx ===\" && find /var/log/nginx -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: Apache2 ---\n  `[ -d /var/log/apache2 ] && echo \"=== APP: apache2 ===\" && find /var/log/apache2 -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: MySQL/MariaDB ---\n  `for log in /var/log/mysql/error.log /var/log/mariadb/mariadb.log /var/log/mysql.err; do [ -f \"$log\" ] && echo \"=== APP: MySQL/MariaDB ($log) ===\" && grep -iE 'warn|error|fail' \"$log\" 2>/dev/null | tail -100; done`,\n\n  // --- App: PostgreSQL ---\n  `[ -d /var/log/postgresql ] && echo \"=== APP: PostgreSQL ===\" && find /var/log/postgresql -name '*.log' 2>/dev/null | xargs -I{} sh -c 'grep -iE \"warn|error|fatal|panic\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: Redis ---\n  `for log in /var/log/redis/redis-server.log /var/log/redis.log; do [ -f \"$log\" ] && echo \"=== APP: Redis ===\" && grep -iE 'warn|error|fail|critical' \"$log\" 2>/dev/null | tail -50; done`,\n\n  // --- Generic App Log Scan: /var/log ---\n  `echo \"=== APP LOGS SCAN (/var/log) ===\"`,\n  `find /var/log -maxdepth 3 -name '*.log' -not -empty 2>/dev/null | grep -vE '/(syslog|messages|kern\\\\.log|auth\\\\.log|dpkg\\\\.log|apt/|btmp|wtmp|lastlog|faillog|journal)' | head -50 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|alert|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|alert|emerg\" \"{}\" 2>/dev/null | tail -50'`,\n\n  // --- Generic App Log Scan: /opt ---\n  `echo \"=== APP LOGS SCAN (/opt) ===\"`,\n  `find /opt -maxdepth 5 -name '*.log' -not -empty 2>/dev/null | head -30 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|traceback|alert|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|traceback|alert|emerg\" \"{}\" 2>/dev/null | tail -50'`,\n\n].join('\\n');\n\nconst cmds = isRouterOS ? routeros_cmds\n           : isVyOS     ? vyos_cmds\n           : isBSD      ? bsd_cmds\n           : linux_cmds;\n\nconst prompt = `Du bist ein erfahrener Systemadministrator. Analysiere ALLE Logquellen des folgenden Systems vollständig.\n\n=== SYSTEM ===\nName: ${sys.name}\nIP: ${sys.ip}\nTyp: ${sys.type} (${sys.device_class || 'unbekannt'})\nOS-Familie: ${sys.os_family || 'unbekannt'}\nSSH: ${ssh_prefix}\n\n=== AUFGABE ===\n1. Verbinde dich per SSH mit dem System\n2. Führe ALLE folgenden Befehle zur Log-Sammlung aus – überspringe keinen:\n\n${cmds}\n\n3. Analysiere ALLE gesammelten Ausgaben – System-Logs, App-Logs, Service-Logs, Hardware-Fehler\n4. Erfasse JEDE Meldung der Stufe WARNING und höher (WARNING, ERROR, CRITICAL, ALERT, EMERGENCY)\n5. Gruppiere ähnliche Fehler desselben Service/Komponente\n6. KEINE Behebungsmaßnahmen – nur Analyse und Dokumentation!\n\n=== ANTWORTFORMAT (NUR JSON, kein Markdown, kein erklärender Text) ===\n{\n  \"hostname\": \"${sys.name}\",\n  \"ip\": \"${sys.ip}\",\n  \"type\": \"${sys.type}\",\n  \"ssh_success\": true,\n  \"has_findings\": false,\n  \"findings\": [\n    {\n      \"severity\": \"WARNING|ERROR|CRITICAL|ALERT|EMERGENCY\",\n      \"source\": \"system|application|service|hardware\",\n      \"component\": \"z.B. kernel, systemd, nginx, postgresql, oom-killer, disk-io\",\n      \"summary\": \"Einzeilige Beschreibung\",\n      \"details\": \"Relevante Log-Zeilen (max. 10 Zeilen)\",\n      \"count\": 1,\n      \"first_seen\": \"2026-03-01T00:00:00Z\"\n    }\n  ],\n  \"error\": null\n}\n\nWICHTIG:\n- Antworte NUR mit dem JSON-Objekt\n- SSH-Fehler: ssh_success=false, has_findings=false, error=<Fehlermeldung>\n- Ignoriere INFO/DEBUG/NOTICE\n- source=\"hardware\" für OOM-Killer, Disk-I/O-Fehler, MCE\n- Alle Levels >= WARNING erfassen`;\n\nreturn [{ json: {\n  system_name:  sys.name,\n  system_ip:    sys.ip,\n  system_type:  sys.type,\n  device_class: sys.device_class || 'unknown',\n  prompt\n} }];"},"name":"🔧 P1: Build Device Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,300],"id":"eade95e0-abc5-453a-8606-23040fc30fc2"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"l4ee6BahShsiEXjI"}},"name":"🤖 P1: Claude Log Analysis","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1540,300],"id":"b3e9bd66-ccf2-47cc-8a8e-32268746306a"},{"parameters":{"jsCode":"const inp    = $('🔧 P1: Build Device Prompt').first().json;\nconst claude = $input.first().json;\n\n// Skip-Dummy durchreichen\nif (inp._skip) return [{ json: { _skip: true, has_findings: false } }];\n\nlet data = { ssh_success: false, has_findings: false, findings: [], error: 'Keine Antwort' };\ntry {\n  const text    = claude.response_text || '';\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const match   = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) data = { ...data, ...JSON.parse(match[0]) };\n} catch(e) {\n  data.error = 'JSON Parse-Fehler: ' + e.message;\n}\n\nconst findings = (data.findings || []).filter(f =>\n  ['WARNING','ERROR','CRITICAL'].includes((f.severity||'').toUpperCase())\n);\n\nreturn [{ json: {\n  system_name:    inp.system_name,\n  system_ip:      inp.system_ip,\n  system_type:    inp.system_type,\n  ssh_success:    data.ssh_success,\n  has_findings:   data.ssh_success && findings.length > 0,\n  findings_count: findings.length,\n  findings,\n  error:          data.error\n} }];"},"name":"🔧 P1: Parse Findings","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,300],"id":"10d42838-39b9-49cc-88e1-3bd4e9abb732"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"p1-has-findings","leftValue":"={{ $json.has_findings }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"✅ P1: Findings vorhanden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1980,300],"id":"3b241d74-a575-4ab0-94a4-e28b60846028"},{"parameters":{"jsCode":"const inp    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nconst sev_order = { CRITICAL: 3, ERROR: 2, WARNING: 1 };\nconst sev_icon  = { CRITICAL: '🚨', ERROR: '🔴', WARNING: '⚠️' };\nconst src_icon  = { system: '🖥️', application: '📦', service: '⚙️' };\n\nconst max_sev = inp.findings.reduce((m, f) =>\n  (sev_order[f.severity] || 0) > (sev_order[m] || 0) ? f.severity : m, 'WARNING');\n\nconst title = `[Log-Analyse] ${inp.system_name} (${inp.system_ip}) – ${inp.findings_count} Befund(e)`;\n\n// Gruppenübersicht nach Quelle\nconst by_source = {};\nfor (const f of inp.findings) {\n  const s = f.source || 'system';\n  if (!by_source[s]) by_source[s] = [];\n  by_source[s].push(f);\n}\n\nlet body  = `## Log-Analyse: ${inp.system_name}\\n\\n`;\nbody += `**System:** ${inp.system_name} (${inp.system_ip})\\n`;\nbody += `**Typ:** ${inp.system_type}\\n`;\nbody += `**Analyse:** ${new Date().toISOString().slice(0,19).replace('T',' ')} UTC\\n`;\nbody += `**Run-ID:** ${config.run_id}\\n\\n`;\n\n// Quellen-Übersicht\nbody += `### Befunde nach Quelle\\n`;\nfor (const [src, items] of Object.entries(by_source)) {\n  const icon = src_icon[src] || '📋';\n  body += `- ${icon} **${src}**: ${items.length} Befund(e)\\n`;\n}\nbody += `\\n---\\n\\n`;\n\n// Detaillierte Befunde\nbody += `## Befunde (${inp.findings_count})\\n\\n`;\nfor (const f of inp.findings) {\n  const icon    = sev_icon[f.severity] || '⚠️';\n  const srcIcon = src_icon[f.source || 'system'] || '📋';\n  body += `### ${icon} ${f.severity}: ${f.summary}\\n`;\n  body += `- **Komponente:** ${f.component}\\n`;\n  body += `- **Quelle:** ${srcIcon} ${f.source || 'system'}\\n`;\n  body += `- **Anzahl:** ${f.count || 1}\\n`;\n  if (f.first_seen) body += `- **Erstes Auftreten:** ${f.first_seen}\\n`;\n  body += `\\n**Log-Auszug:**\\n\\`\\`\\`\\n${f.details}\\n\\`\\`\\`\\n\\n`;\n}\nbody += `---\\n*Automatisch erstellt – keine Behebungsmaßnahmen erforderlich.*`;\n\nconst priority = max_sev === 'CRITICAL' ? '1 very high'\n               : max_sev === 'ERROR'    ? '2 high'\n               :                          '3 normal';\n\nreturn [{ json: { title, body, queue: 'Raw', state: 'neu', priority } }];"},"name":"🔧 P1: Build Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,180],"id":"ecbf8be1-338c-43c3-bc96-f6d3873990e6"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"NMxFaLwPpq39MSCF"}},"name":"🎫 P1: Create Ticket","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2420,180],"id":"c04e3e9a-c070-45f7-8506-a49104716935"},{"parameters":{"jsCode":"// Kein Befund – einfach weiterleiten\nconst inp = $input.first().json;\nreturn [{ json: { system_name: inp.system_name, action: 'no_findings', has_findings: false } }];"},"name":"📝 P1: Kein Befund","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,420],"id":"6cada372-ac90-4005-aeb4-96a2468e1cd4"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Sp6DiNXwi5pfRjA7"},"workflowInputs":{"values":[{"name":"filter_by_type","value":""}]}},"name":"🌐 P2: NetBox LXC+VM laden","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[660,720],"id":"a5d78390-f33a-4072-9246-0e5984084ef8"},{"parameters":{"jsCode":"const data         = $input.first().json;\nconst config       = $('📋 Set Config').first().json;\nconst systems      = data.systems || [];\nconst exclude_names = config.exclude_names || [];\n\nconst filtered = systems.filter(s =>\n  s.ip &&\n  (s.type === 'lxc' || s.type === 'vm') &&\n  !exclude_names.includes((s.name || '').toLowerCase())\n);\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, name: '__no_lxcvm__', ip: null } }];\n}\nreturn filtered.map(s => ({ json: s }));"},"name":"🔧 P2: Filter LXC+VM","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,720],"id":"4be55101-702d-477d-bef8-721c9509a203"},{"parameters":{"batchSize":1,"options":{}},"name":"🔄 P2: Loop LXC+VM","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,720],"id":"2a4463ad-9548-4a55-a758-8084eaaaad53"},{"parameters":{"jsCode":"const sys    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nif (sys._skip) return [{ json: { _skip: true, system_name: sys.name } }];\n\nconst ssh_user   = sys.ssh_user   || 'root';\nconst ssh_pass   = sys.ssh_password || '';\nconst ssh_prefix = ssh_pass\n  ? `sshpass -p '${ssh_pass}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -o BatchMode=no ${ssh_user}@${sys.ip}`\n  : `ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 ${ssh_user}@${sys.ip}`;\n\nconst sysLabel = sys.type === 'lxc' ? 'Linux Container auf Proxmox' : 'Virtuelle Maschine';\n\nconst cmds = [\n  // --- System Logs ---\n  `echo \"=== JOURNALCTL SYSTEM (${config.log_since_days}d, prio>=warning) ===\"`,\n  `journalctl --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | tail -500`,\n  `echo \"=== JOURNALCTL BOOT (prio>=warning) ===\"`,\n  `journalctl -b --no-pager -p warning 2>/dev/null | tail -300`,\n  `echo \"=== DMESG (warn/err/crit) ===\"`,\n  `dmesg --level=warn,err,crit 2>/dev/null | tail -200`,\n  `for log in /var/log/syslog /var/log/messages /var/log/kern.log /var/log/auth.log; do [ -f \"$log\" ] && echo \"=== $log ===\" && grep -iE 'warn|error|crit|fail|fatal' \"$log\" 2>/dev/null | tail -100; done`,\n  // --- Failed/Degraded Services ---\n  `echo \"=== FAILED/DEGRADED SERVICES ===\"`,\n  `systemctl list-units --state=failed,degraded --no-legend 2>/dev/null`,\n  // --- Per-Service Logs (alle aktiven Services mit Warnings) ---\n  `echo \"=== SERVICE WARNINGS (${config.log_since_days}d) ===\"`,\n  `for svc in $(systemctl list-units --type=service --state=active --no-legend 2>/dev/null | awk '{print $1}' | grep -v '@' | head -50); do out=$(journalctl -u $svc --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | tail -15); [ -n \"$out\" ] && echo \"--- SERVICE: $svc ---\" && echo \"$out\"; done`,\n  // --- Application Logs: nginx ---\n  `[ -d /var/log/nginx ] && echo \"=== APP: nginx ===\" && find /var/log/nginx -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: Apache2 ---\n  `[ -d /var/log/apache2 ] && echo \"=== APP: apache2 ===\" && find /var/log/apache2 -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: MySQL/MariaDB ---\n  `for log in /var/log/mysql/error.log /var/log/mariadb/mariadb.log /var/log/mysql.err; do [ -f \"$log\" ] && echo \"=== APP: MySQL/MariaDB ($log) ===\" && grep -iE 'warn|error|fail' \"$log\" 2>/dev/null | tail -50; done`,\n  // --- Application Logs: PostgreSQL ---\n  `[ -d /var/log/postgresql ] && echo \"=== APP: PostgreSQL ===\" && find /var/log/postgresql -name '*.log' 2>/dev/null | xargs -I{} sh -c 'grep -iE \"warn|error|fatal|panic\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: Redis ---\n  `for log in /var/log/redis/redis-server.log /var/log/redis.log; do [ -f \"$log\" ] && echo \"=== APP: Redis ===\" && grep -iE 'warn|error|fail|critical' \"$log\" 2>/dev/null | tail -30; done`,\n  // --- Application Logs: PHP/FPM ---\n  `find /var/log -maxdepth 2 -name 'php*.log' -o -name 'fpm*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|fatal|exception\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"=== APP: PHP ({}) ===\" && grep -iE \"warn|error|fatal|exception\" \"{}\" 2>/dev/null | tail -30' 2>/dev/null || true`,\n  // --- Generic App Log Scan: /var/log (alle .log außer Standardlogs) ---\n  `echo \"=== APP LOGS SCAN (/var/log) ===\"`,\n  `find /var/log -maxdepth 3 -name '*.log' -not -empty 2>/dev/null | grep -vE '/(syslog|messages|kern\\\\.log|auth\\\\.log|dpkg\\\\.log|apt/|btmp|wtmp|lastlog|faillog|journal)' | head -30 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception\" \"{}\" 2>/dev/null | tail -30'`,\n  // --- Generic App Log Scan: /opt ---\n  `echo \"=== APP LOGS SCAN (/opt) ===\"`,\n  `find /opt -maxdepth 4 -name '*.log' -not -empty 2>/dev/null | head -20 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|traceback\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|traceback\" \"{}\" 2>/dev/null | tail -30'`,\n].join('\\n');\n\nconst prompt = `Du bist ein erfahrener Systemadministrator. Analysiere ALLE Logquellen des folgenden Systems vollständig.\n\n=== SYSTEM ===\nName: ${sys.name}\nIP: ${sys.ip}\nTyp: ${sys.type.toUpperCase()} (${sysLabel})\nSSH: ${ssh_prefix}\n\n=== AUFGABE ===\n1. Verbinde dich per SSH mit dem System\n2. Führe folgende Befehle zur Log-Sammlung aus:\n\n${cmds}\n\n3. Analysiere ALLE gesammelten Ausgaben auf Probleme – egal ob System-Logs, Application-Logs oder Service-Logs\n4. Berücksichtige JEDE Warnung und jeden Fehler, unabhängig von der Quelle\n5. Gruppiere ähnliche Fehler desselben Service/Komponente (Deduplizierung)\n6. KEINE Behebungsmaßnahmen – nur Analyse und Dokumentation!\n\n=== ANTWORTFORMAT (NUR JSON, kein Markdown, kein erklärender Text) ===\n{\n  \"hostname\": \"${sys.name}\",\n  \"ip\": \"${sys.ip}\",\n  \"type\": \"${sys.type}\",\n  \"ssh_success\": true,\n  \"has_findings\": false,\n  \"findings\": [\n    {\n      \"severity\": \"WARNING|ERROR|CRITICAL\",\n      \"source\": \"system|application|service\",\n      \"component\": \"z.B. kernel, systemd, nginx, postgresql, sshd\",\n      \"summary\": \"Einzeilige Beschreibung des Problems\",\n      \"details\": \"Relevante Log-Zeilen (max. 5 Zeilen)\",\n      \"count\": 1,\n      \"first_seen\": \"2026-03-23T01:00:00Z\"\n    }\n  ],\n  \"error\": null\n}\n\nWICHTIG:\n- Antworte NUR mit dem JSON-Objekt\n- Wenn SSH fehlschlägt: ssh_success=false, has_findings=false, error=<Fehlermeldung>\n- Ignoriere rein informative Meldungen (INFO/DEBUG/NOTICE)\n- source=\"system\" für Kernel/dmesg/journalctl-System-Einträge\n- source=\"application\" für App-spezifische Logfiles (nginx, postgresql, mysql, php etc.)\n- source=\"service\" für systemd-Unit-Logs (journalctl -u <service>)\n- Alle Schweregrade WARNING und höher erfassen – egal welche Quelle`;\n\nreturn [{ json: {\n  system_name: sys.name,\n  system_ip:   sys.ip,\n  system_type: sys.type,\n  prompt\n} }];"},"name":"🔧 P2: Build LXC/VM Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,720],"id":"cadf689d-2e6b-4795-8a99-52216adee615"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"l4ee6BahShsiEXjI"}},"name":"🤖 P2: Claude Log Analysis","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1540,720],"id":"13f8579f-0817-45be-8380-48da773c7243"},{"parameters":{"jsCode":"const inp    = $('🔧 P2: Build LXC/VM Prompt').first().json;\nconst claude = $input.first().json;\n\nif (inp._skip) return [{ json: { _skip: true, has_findings: false } }];\n\nlet data = { ssh_success: false, has_findings: false, findings: [], error: 'Keine Antwort' };\ntry {\n  const text    = claude.response_text || '';\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const match   = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) data = { ...data, ...JSON.parse(match[0]) };\n} catch(e) {\n  data.error = 'JSON Parse-Fehler: ' + e.message;\n}\n\nconst findings = (data.findings || []).filter(f =>\n  ['WARNING','ERROR','CRITICAL'].includes((f.severity||'').toUpperCase())\n);\n\nreturn [{ json: {\n  system_name:    inp.system_name,\n  system_ip:      inp.system_ip,\n  system_type:    inp.system_type,\n  ssh_success:    data.ssh_success,\n  has_findings:   data.ssh_success && findings.length > 0,\n  findings_count: findings.length,\n  findings,\n  error:          data.error\n} }];"},"name":"🔧 P2: Parse Findings","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,720],"id":"df312c9b-7c13-4e61-8200-549282ec1ea7"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"p2-has-findings","leftValue":"={{ $json.has_findings }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"✅ P2: Findings vorhanden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1980,720],"id":"5a1f0d6c-e6e2-475f-8a07-ddfd583664d8"},{"parameters":{"jsCode":"const inp    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nconst sev_order = { CRITICAL: 3, ERROR: 2, WARNING: 1 };\nconst sev_icon  = { CRITICAL: '🚨', ERROR: '🔴', WARNING: '⚠️' };\nconst src_icon  = { system: '🖥️', application: '📦', service: '⚙️' };\n\nconst max_sev = inp.findings.reduce((m, f) =>\n  (sev_order[f.severity] || 0) > (sev_order[m] || 0) ? f.severity : m, 'WARNING');\n\nconst title = `[Log-Analyse] ${inp.system_name} (${inp.system_ip}) – ${inp.findings_count} Befund(e)`;\n\n// Gruppenübersicht nach Quelle\nconst by_source = {};\nfor (const f of inp.findings) {\n  const s = f.source || 'system';\n  if (!by_source[s]) by_source[s] = [];\n  by_source[s].push(f);\n}\n\nlet body  = `## Log-Analyse: ${inp.system_name}\\n\\n`;\nbody += `**System:** ${inp.system_name} (${inp.system_ip})\\n`;\nbody += `**Typ:** ${inp.system_type.toUpperCase()}\\n`;\nbody += `**Analyse:** ${new Date().toISOString().slice(0,19).replace('T',' ')} UTC\\n`;\nbody += `**Run-ID:** ${config.run_id}\\n\\n`;\n\n// Quellen-Übersicht\nbody += `### Befunde nach Quelle\\n`;\nfor (const [src, items] of Object.entries(by_source)) {\n  const icon = src_icon[src] || '📋';\n  body += `- ${icon} **${src}**: ${items.length} Befund(e)\\n`;\n}\nbody += `\\n---\\n\\n`;\n\n// Detaillierte Befunde\nbody += `## Befunde (${inp.findings_count})\\n\\n`;\nfor (const f of inp.findings) {\n  const icon    = sev_icon[f.severity] || '⚠️';\n  const srcIcon = src_icon[f.source || 'system'] || '📋';\n  body += `### ${icon} ${f.severity}: ${f.summary}\\n`;\n  body += `- **Komponente:** ${f.component}\\n`;\n  body += `- **Quelle:** ${srcIcon} ${f.source || 'system'}\\n`;\n  body += `- **Anzahl:** ${f.count || 1}\\n`;\n  if (f.first_seen) body += `- **Erstes Auftreten:** ${f.first_seen}\\n`;\n  body += `\\n**Log-Auszug:**\\n\\`\\`\\`\\n${f.details}\\n\\`\\`\\`\\n\\n`;\n}\nbody += `---\\n*Automatisch erstellt – keine Behebungsmaßnahmen erforderlich.*`;\n\nconst priority = max_sev === 'CRITICAL' ? '1 very high'\n               : max_sev === 'ERROR'    ? '2 high'\n               :                          '3 normal';\n\nreturn [{ json: { title, body, queue: 'Raw', state: 'neu', priority } }];"},"name":"🔧 P2: Build Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,600],"id":"3f9cef6d-4c1d-4212-8217-074f79affefe"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"NMxFaLwPpq39MSCF"}},"name":"🎫 P2: Create Ticket","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2420,600],"id":"267da276-b4b3-46c0-b319-59ba7b8044f0"},{"parameters":{"jsCode":"const inp = $input.first().json;\nreturn [{ json: { system_name: inp.system_name, action: 'no_findings', has_findings: false } }];"},"name":"📝 P2: Kein Befund","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,840],"id":"6ceb4e7e-6be4-41fc-9475-b04ed2c4079c"},{"parameters":{"jsCode":"const config = $('📋 Set Config').first().json;\nconst items  = $input.all();\n\nconst tickets_created = items.filter(i => i.json.ticket_id || i.json.ticket_number).length;\nconst no_findings     = items.filter(i => i.json.action === 'no_findings').length;\n\nreturn [{ json: {\n  run_id:          config.run_id,\n  run_date:        config.run_date,\n  tickets_created,\n  no_findings,\n  summary: `Log-Analyse abgeschlossen. ${tickets_created} Ticket(s) erstellt, ${no_findings} System(e) ohne Befund.`\n} }];"},"name":"🔧 Aggregate Ergebnisse","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,720],"id":"fa6fe623-6b23-4c0f-bc57-486e3295001b"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"TmyAkITcb41Ti3Ev"},"workflowInputs":{"values":[{"name":"message","value":"={{ $json.summary }}"},{"name":"channels","value":"[\"matrix\"]"},{"name":"level","value":"info"}]}},"name":"🔔 SUB: Notification","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2860,720],"id":"5872ac44-3881-4de4-b7d9-753610e0afc7"}],"connections":{"⏰ Schedule: Wöchentlich So 02:00":{"main":[[{"node":"📋 Set Config","type":"main","index":0}]]},"▶️ Manual Trigger":{"main":[[{"node":"📋 Set Config","type":"main","index":0}]]},"📋 Set Config":{"main":[[{"node":"🌐 P1: NetBox Devices laden","type":"main","index":0}]]},"🌐 P1: NetBox Devices laden":{"main":[[{"node":"🔧 P1: Filter Devices","type":"main","index":0}]]},"🔧 P1: Filter Devices":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"🔄 P1: Loop Devices":{"main":[[{"node":"🔧 P1: Build Device Prompt","type":"main","index":0}],[{"node":"🌐 P2: NetBox LXC+VM laden","type":"main","index":0}]]},"🔧 P1: Build Device Prompt":{"main":[[{"node":"🤖 P1: Claude Log Analysis","type":"main","index":0}]]},"🤖 P1: Claude Log Analysis":{"main":[[{"node":"🔧 P1: Parse Findings","type":"main","index":0}]]},"🔧 P1: Parse Findings":{"main":[[{"node":"✅ P1: Findings vorhanden?","type":"main","index":0}]]},"✅ P1: Findings vorhanden?":{"main":[[{"node":"🔧 P1: Build Ticket","type":"main","index":0}],[{"node":"📝 P1: Kein Befund","type":"main","index":0}]]},"🔧 P1: Build Ticket":{"main":[[{"node":"🎫 P1: Create Ticket","type":"main","index":0}]]},"🎫 P1: Create Ticket":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"📝 P1: Kein Befund":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"🌐 P2: NetBox LXC+VM laden":{"main":[[{"node":"🔧 P2: Filter LXC+VM","type":"main","index":0}]]},"🔧 P2: Filter LXC+VM":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"🔄 P2: Loop LXC+VM":{"main":[[{"node":"🔧 P2: Build LXC/VM Prompt","type":"main","index":0}],[{"node":"🔧 Aggregate Ergebnisse","type":"main","index":0}]]},"🔧 P2: Build LXC/VM Prompt":{"main":[[{"node":"🤖 P2: Claude Log Analysis","type":"main","index":0}]]},"🤖 P2: Claude Log Analysis":{"main":[[{"node":"🔧 P2: Parse Findings","type":"main","index":0}]]},"🔧 P2: Parse Findings":{"main":[[{"node":"✅ P2: Findings vorhanden?","type":"main","index":0}]]},"✅ P2: Findings vorhanden?":{"main":[[{"node":"🔧 P2: Build Ticket","type":"main","index":0}],[{"node":"📝 P2: Kein Befund","type":"main","index":0}]]},"🔧 P2: Build Ticket":{"main":[[{"node":"🎫 P2: Create Ticket","type":"main","index":0}]]},"🎫 P2: Create Ticket":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"📝 P2: Kein Befund":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"🔧 Aggregate Ergebnisse":{"main":[[{"node":"🔔 SUB: Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","executionTimeout":3600,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ Schedule: Wöchentlich So 02:00":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"92c711f3-d99b-4c22-8e5c-654f89f71c05","activeVersionId":"92c711f3-d99b-4c22-8e5c-654f89f71c05","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-03-23T20:10:44.339Z","createdAt":"2026-03-23T20:10:44.339Z","role":"workflow:owner","workflowId":"pPJ4lVht3s3I0816","projectId":"TKpGt6PASoN8CNtU","project":{"updatedAt":"2025-10-04T18:35:36.086Z","createdAt":"2025-10-04T18:27:37.663Z","id":"TKpGt6PASoN8CNtU","name":"Marco Doehler <marcofpo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T08:43:39.603Z","createdAt":"2026-03-29T08:43:39.603Z","versionId":"92c711f3-d99b-4c22-8e5c-654f89f71c05","workflowId":"pPJ4lVht3s3I0816","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * 0"}]}},"name":"⏰ Schedule: Wöchentlich So 02:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[200,300],"id":"dda1d420-b5bd-4855-bcad-3e2217661b30"},{"parameters":{},"name":"▶️ Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,500],"id":"bbf2b9df-9257-419f-b750-46b64dd2e2ac"},{"parameters":{"jsCode":"return [{ json: {\n  run_id:          'log_analyse_' + new Date().toISOString().replace(/[^0-9]/g,'').slice(0,14),\n  run_date:        new Date().toISOString(),\n  log_since_days:  7,\n  // LXC-Namen die ausgeschlossen werden (n8n selbst + Claude Code API)\n  exclude_names:   ['n8n', 'claude'],\n  tickets_created: 0\n} }];"},"name":"📋 Set Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"id":"fad70df7-b169-4088-83d2-383b722864ac"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Sp6DiNXwi5pfRjA7"},"workflowInputs":{"values":[{"name":"filter_by_type","value":"device"}]}},"name":"🌐 P1: NetBox Devices laden","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[660,300],"id":"1b40b68c-5b19-4c1f-b326-766438df0bad"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst systems = data.systems || [];\n// Nur Devices (physical + virtual_device aus dcim/devices).\n// LXCs und VMs laufen separat in Phase 2 – verhindert Doppelverarbeitung.\nconst active = systems.filter(s => s.ip && s.type === 'device');\nif (active.length === 0) {\n  return [{ json: { _skip: true, name: '__no_devices__', ip: null } }];\n}\nreturn active.map(s => ({ json: s }));"},"name":"🔧 P1: Filter Devices","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"id":"3325cc8e-3341-45df-89a9-7ea8561f573a"},{"parameters":{"batchSize":1,"options":{}},"name":"🔄 P1: Loop Devices","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,300],"id":"19e675f2-5394-46dc-91b5-da3f6bc112fd"},{"parameters":{"jsCode":"const sys    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nif (sys._skip) return [{ json: { _skip: true, system_name: sys.name } }];\n\nconst ssh_user   = sys.ssh_user   || 'root';\nconst ssh_pass   = sys.ssh_password || '';\nconst ssh_prefix = ssh_pass\n  ? `sshpass -p '${ssh_pass}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -o BatchMode=no ${ssh_user}@${sys.ip}`\n  : `ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 ${ssh_user}@${sys.ip}`;\n\nconst isRouterOS = sys.os_family === 'routeros';\nconst isVyOS     = sys.os_family === 'vyos';\nconst isBSD      = sys.os_family === 'bsd';\n\n// === RouterOS / MikroTik ===\nconst routeros_cmds = [\n  `/log print where topics~\"error\" or topics~\"critical\" or topics~\"warning\"`,\n  `/log print where topics~\"error\"`,\n  `/log print where topics~\"critical\"`,\n  `/log print where topics~\"warning\"`,\n  `/system health print`,\n  `/system resource print`,\n  `/interface print stats where running=no`,\n  `/ip firewall filter print where action=drop`,\n  `/system logging print`,\n].join('\\n');\n\n// === VyOS ===\nconst vyos_cmds = [\n  `show log`,\n  `show log | grep -iE 'warn|error|crit|fail|fatal'`,\n  `show system`,\n  `show interfaces`,\n].join('\\n');\n\n// === BSD / OPNsense / pfSense ===\nconst bsd_cmds = [\n  `grep -iE 'warn|error|crit|fail|fatal|alert|emerg' /var/log/system.log 2>/dev/null | tail -500`,\n  `dmesg 2>/dev/null`,\n  `cat /var/log/filter.log 2>/dev/null | tail -200`,\n  `cat /var/log/nginx/error.log 2>/dev/null | tail -100`,\n].join('\\n');\n\n// === Linux (alle Distributions) ===\nconst linux_cmds = [\n\n  // --- System Journal: alle Warnings und höher, letzten N Tage ---\n  `echo \"=== JOURNALCTL SYSTEM (${config.log_since_days}d, prio>=warning) ===\"`,\n  `journalctl --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | head -2000`,\n\n  // --- aktueller Boot: alle Warnings und höher ---\n  `echo \"=== JOURNALCTL AKTUELLER BOOT (prio>=warning) ===\"`,\n  `journalctl -b --no-pager -p warning 2>/dev/null | head -1000`,\n\n  // --- vorheriger Boot (falls vorhanden) ---\n  `echo \"=== JOURNALCTL VORHERIGER BOOT (prio>=warning) ===\"`,\n  `journalctl -b -1 --no-pager -p warning 2>/dev/null | head -500`,\n\n  // --- dmesg: ALLE kritischen Level ---\n  `echo \"=== DMESG (warn/err/crit/alert/emerg) ===\"`,\n  `dmesg --level=warn,err,crit,alert,emerg 2>/dev/null || dmesg 2>/dev/null | grep -iE '\\\\[warn\\\\]|\\\\[err\\\\]|\\\\[crit\\\\]|warn:|error:|critical:'`,\n\n  // --- dmesg: OOM-Killer ---\n  `echo \"=== DMESG: OOM / Out-of-Memory ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'oom|out of memory|killed process|oom_kill|memory pressure'`,\n\n  // --- dmesg: Disk / I/O Fehler ---\n  `echo \"=== DMESG: Disk / I/O Fehler ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'ata[0-9]|sata|nvme|i/o error|buffer i/o|blk_update_request|medium error|read error|write error|sector'`,\n\n  // --- dmesg: Hardware-Fehler (MCE, ECC, CPU) ---\n  `echo \"=== DMESG: Hardware-Fehler ===\"`,\n  `dmesg 2>/dev/null | grep -iE 'mce|machine check|hardware error|corrected error|uncorrected|edac|pcie.*error|nmi'`,\n\n  // --- Klassische Log-Dateien (aktuell + rotiert) ---\n  `for log in /var/log/syslog /var/log/syslog.1 /var/log/messages /var/log/messages.1 /var/log/kern.log /var/log/kern.log.1 /var/log/auth.log /var/log/boot.log; do [ -f \"$log\" ] && echo \"=== $log ===\" && grep -iE 'warn|error|crit|fail|fatal|alert|emerg' \"$log\" 2>/dev/null | head -200; done`,\n\n  // --- Failed/Degraded Services ---\n  `echo \"=== FAILED / DEGRADED SERVICES ===\"`,\n  `systemctl list-units --state=failed,degraded --no-legend 2>/dev/null`,\n  `systemctl --failed --no-legend 2>/dev/null`,\n\n  // --- Service-Logs: alle aktiven Services mit Warnings ---\n  `echo \"=== SERVICE WARNINGS (${config.log_since_days}d) ===\"`,\n  `for svc in $(systemctl list-units --type=service --state=active --no-legend 2>/dev/null | awk '{print $1}' | grep -v '@' | head -60); do out=$(journalctl -u $svc --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | head -50); [ -n \"$out\" ] && echo \"--- SERVICE: $svc ---\" && echo \"$out\"; done`,\n\n  // --- Core Dumps ---\n  `echo \"=== CORE DUMPS ===\"`,\n  `ls -la /var/crash/ 2>/dev/null; ls -la /var/lib/systemd/coredump/ 2>/dev/null; coredumpctl list 2>/dev/null | tail -20`,\n\n  // --- App: nginx ---\n  `[ -d /var/log/nginx ] && echo \"=== APP: nginx ===\" && find /var/log/nginx -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: Apache2 ---\n  `[ -d /var/log/apache2 ] && echo \"=== APP: apache2 ===\" && find /var/log/apache2 -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: MySQL/MariaDB ---\n  `for log in /var/log/mysql/error.log /var/log/mariadb/mariadb.log /var/log/mysql.err; do [ -f \"$log\" ] && echo \"=== APP: MySQL/MariaDB ($log) ===\" && grep -iE 'warn|error|fail' \"$log\" 2>/dev/null | tail -100; done`,\n\n  // --- App: PostgreSQL ---\n  `[ -d /var/log/postgresql ] && echo \"=== APP: PostgreSQL ===\" && find /var/log/postgresql -name '*.log' 2>/dev/null | xargs -I{} sh -c 'grep -iE \"warn|error|fatal|panic\" \"{}\" 2>/dev/null | tail -100' || true`,\n\n  // --- App: Redis ---\n  `for log in /var/log/redis/redis-server.log /var/log/redis.log; do [ -f \"$log\" ] && echo \"=== APP: Redis ===\" && grep -iE 'warn|error|fail|critical' \"$log\" 2>/dev/null | tail -50; done`,\n\n  // --- Generic App Log Scan: /var/log ---\n  `echo \"=== APP LOGS SCAN (/var/log) ===\"`,\n  `find /var/log -maxdepth 3 -name '*.log' -not -empty 2>/dev/null | grep -vE '/(syslog|messages|kern\\\\.log|auth\\\\.log|dpkg\\\\.log|apt/|btmp|wtmp|lastlog|faillog|journal)' | head -50 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|alert|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|alert|emerg\" \"{}\" 2>/dev/null | tail -50'`,\n\n  // --- Generic App Log Scan: /opt ---\n  `echo \"=== APP LOGS SCAN (/opt) ===\"`,\n  `find /opt -maxdepth 5 -name '*.log' -not -empty 2>/dev/null | head -30 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|traceback|alert|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|traceback|alert|emerg\" \"{}\" 2>/dev/null | tail -50'`,\n\n].join('\\n');\n\nconst cmds = isRouterOS ? routeros_cmds\n           : isVyOS     ? vyos_cmds\n           : isBSD      ? bsd_cmds\n           : linux_cmds;\n\nconst prompt = `Du bist ein erfahrener Systemadministrator. Analysiere ALLE Logquellen des folgenden Systems vollständig.\n\n=== SYSTEM ===\nName: ${sys.name}\nIP: ${sys.ip}\nTyp: ${sys.type} (${sys.device_class || 'unbekannt'})\nOS-Familie: ${sys.os_family || 'unbekannt'}\nSSH: ${ssh_prefix}\n\n=== AUFGABE ===\n1. Verbinde dich per SSH mit dem System\n2. Führe ALLE folgenden Befehle zur Log-Sammlung aus – überspringe keinen:\n\n${cmds}\n\n3. Analysiere ALLE gesammelten Ausgaben – System-Logs, App-Logs, Service-Logs, Hardware-Fehler\n4. Erfasse JEDE Meldung der Stufe WARNING und höher (WARNING, ERROR, CRITICAL, ALERT, EMERGENCY)\n5. Gruppiere ähnliche Fehler desselben Service/Komponente\n6. KEINE Behebungsmaßnahmen – nur Analyse und Dokumentation!\n\n=== ANTWORTFORMAT (NUR JSON, kein Markdown, kein erklärender Text) ===\n{\n  \"hostname\": \"${sys.name}\",\n  \"ip\": \"${sys.ip}\",\n  \"type\": \"${sys.type}\",\n  \"ssh_success\": true,\n  \"has_findings\": false,\n  \"findings\": [\n    {\n      \"severity\": \"WARNING|ERROR|CRITICAL|ALERT|EMERGENCY\",\n      \"source\": \"system|application|service|hardware\",\n      \"component\": \"z.B. kernel, systemd, nginx, postgresql, oom-killer, disk-io\",\n      \"summary\": \"Einzeilige Beschreibung\",\n      \"details\": \"Relevante Log-Zeilen (max. 10 Zeilen)\",\n      \"count\": 1,\n      \"first_seen\": \"2026-03-01T00:00:00Z\"\n    }\n  ],\n  \"error\": null\n}\n\nWICHTIG:\n- Antworte NUR mit dem JSON-Objekt\n- SSH-Fehler: ssh_success=false, has_findings=false, error=<Fehlermeldung>\n- Ignoriere INFO/DEBUG/NOTICE\n- source=\"hardware\" für OOM-Killer, Disk-I/O-Fehler, MCE\n- Alle Levels >= WARNING erfassen`;\n\nreturn [{ json: {\n  system_name:  sys.name,\n  system_ip:    sys.ip,\n  system_type:  sys.type,\n  device_class: sys.device_class || 'unknown',\n  prompt\n} }];"},"name":"🔧 P1: Build Device Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,300],"id":"eade95e0-abc5-453a-8606-23040fc30fc2"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"l4ee6BahShsiEXjI"}},"name":"🤖 P1: Claude Log Analysis","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1540,300],"id":"b3e9bd66-ccf2-47cc-8a8e-32268746306a"},{"parameters":{"jsCode":"const inp    = $('🔧 P1: Build Device Prompt').first().json;\nconst claude = $input.first().json;\n\n// Skip-Dummy durchreichen\nif (inp._skip) return [{ json: { _skip: true, has_findings: false } }];\n\nlet data = { ssh_success: false, has_findings: false, findings: [], error: 'Keine Antwort' };\ntry {\n  const text    = claude.response_text || '';\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const match   = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) data = { ...data, ...JSON.parse(match[0]) };\n} catch(e) {\n  data.error = 'JSON Parse-Fehler: ' + e.message;\n}\n\nconst findings = (data.findings || []).filter(f =>\n  ['WARNING','ERROR','CRITICAL'].includes((f.severity||'').toUpperCase())\n);\n\nreturn [{ json: {\n  system_name:    inp.system_name,\n  system_ip:      inp.system_ip,\n  system_type:    inp.system_type,\n  ssh_success:    data.ssh_success,\n  has_findings:   data.ssh_success && findings.length > 0,\n  findings_count: findings.length,\n  findings,\n  error:          data.error\n} }];"},"name":"🔧 P1: Parse Findings","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,300],"id":"10d42838-39b9-49cc-88e1-3bd4e9abb732"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"p1-has-findings","leftValue":"={{ $json.has_findings }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"✅ P1: Findings vorhanden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1980,300],"id":"3b241d74-a575-4ab0-94a4-e28b60846028"},{"parameters":{"jsCode":"const inp    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nconst sev_order = { CRITICAL: 3, ERROR: 2, WARNING: 1 };\nconst sev_icon  = { CRITICAL: '🚨', ERROR: '🔴', WARNING: '⚠️' };\nconst src_icon  = { system: '🖥️', application: '📦', service: '⚙️' };\n\nconst max_sev = inp.findings.reduce((m, f) =>\n  (sev_order[f.severity] || 0) > (sev_order[m] || 0) ? f.severity : m, 'WARNING');\n\nconst title = `[Log-Analyse] ${inp.system_name} (${inp.system_ip}) – ${inp.findings_count} Befund(e)`;\n\n// Gruppenübersicht nach Quelle\nconst by_source = {};\nfor (const f of inp.findings) {\n  const s = f.source || 'system';\n  if (!by_source[s]) by_source[s] = [];\n  by_source[s].push(f);\n}\n\nlet body  = `## Log-Analyse: ${inp.system_name}\\n\\n`;\nbody += `**System:** ${inp.system_name} (${inp.system_ip})\\n`;\nbody += `**Typ:** ${inp.system_type}\\n`;\nbody += `**Analyse:** ${new Date().toISOString().slice(0,19).replace('T',' ')} UTC\\n`;\nbody += `**Run-ID:** ${config.run_id}\\n\\n`;\n\n// Quellen-Übersicht\nbody += `### Befunde nach Quelle\\n`;\nfor (const [src, items] of Object.entries(by_source)) {\n  const icon = src_icon[src] || '📋';\n  body += `- ${icon} **${src}**: ${items.length} Befund(e)\\n`;\n}\nbody += `\\n---\\n\\n`;\n\n// Detaillierte Befunde\nbody += `## Befunde (${inp.findings_count})\\n\\n`;\nfor (const f of inp.findings) {\n  const icon    = sev_icon[f.severity] || '⚠️';\n  const srcIcon = src_icon[f.source || 'system'] || '📋';\n  body += `### ${icon} ${f.severity}: ${f.summary}\\n`;\n  body += `- **Komponente:** ${f.component}\\n`;\n  body += `- **Quelle:** ${srcIcon} ${f.source || 'system'}\\n`;\n  body += `- **Anzahl:** ${f.count || 1}\\n`;\n  if (f.first_seen) body += `- **Erstes Auftreten:** ${f.first_seen}\\n`;\n  body += `\\n**Log-Auszug:**\\n\\`\\`\\`\\n${f.details}\\n\\`\\`\\`\\n\\n`;\n}\nbody += `---\\n*Automatisch erstellt – keine Behebungsmaßnahmen erforderlich.*`;\n\nconst priority = max_sev === 'CRITICAL' ? '1 very high'\n               : max_sev === 'ERROR'    ? '2 high'\n               :                          '3 normal';\n\nreturn [{ json: { title, body, queue: 'Raw', state: 'neu', priority } }];"},"name":"🔧 P1: Build Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,180],"id":"ecbf8be1-338c-43c3-bc96-f6d3873990e6"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"NMxFaLwPpq39MSCF"}},"name":"🎫 P1: Create Ticket","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2420,180],"id":"c04e3e9a-c070-45f7-8506-a49104716935"},{"parameters":{"jsCode":"// Kein Befund – einfach weiterleiten\nconst inp = $input.first().json;\nreturn [{ json: { system_name: inp.system_name, action: 'no_findings', has_findings: false } }];"},"name":"📝 P1: Kein Befund","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,420],"id":"6cada372-ac90-4005-aeb4-96a2468e1cd4"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Sp6DiNXwi5pfRjA7"},"workflowInputs":{"values":[{"name":"filter_by_type","value":""}]}},"name":"🌐 P2: NetBox LXC+VM laden","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[660,720],"id":"a5d78390-f33a-4072-9246-0e5984084ef8"},{"parameters":{"jsCode":"const data         = $input.first().json;\nconst config       = $('📋 Set Config').first().json;\nconst systems      = data.systems || [];\nconst exclude_names = config.exclude_names || [];\n\nconst filtered = systems.filter(s =>\n  s.ip &&\n  (s.type === 'lxc' || s.type === 'vm') &&\n  !exclude_names.includes((s.name || '').toLowerCase())\n);\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, name: '__no_lxcvm__', ip: null } }];\n}\nreturn filtered.map(s => ({ json: s }));"},"name":"🔧 P2: Filter LXC+VM","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,720],"id":"4be55101-702d-477d-bef8-721c9509a203"},{"parameters":{"batchSize":1,"options":{}},"name":"🔄 P2: Loop LXC+VM","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,720],"id":"2a4463ad-9548-4a55-a758-8084eaaaad53"},{"parameters":{"jsCode":"const sys    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nif (sys._skip) return [{ json: { _skip: true, system_name: sys.name } }];\n\nconst ssh_user   = sys.ssh_user   || 'root';\nconst ssh_pass   = sys.ssh_password || '';\nconst ssh_prefix = ssh_pass\n  ? `sshpass -p '${ssh_pass}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -o BatchMode=no ${ssh_user}@${sys.ip}`\n  : `ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 ${ssh_user}@${sys.ip}`;\n\nconst sysLabel = sys.type === 'lxc' ? 'Linux Container auf Proxmox' : 'Virtuelle Maschine';\n\nconst cmds = [\n  // --- System Logs ---\n  `echo \"=== JOURNALCTL SYSTEM (${config.log_since_days}d, prio>=warning) ===\"`,\n  `journalctl --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | tail -500`,\n  `echo \"=== JOURNALCTL BOOT (prio>=warning) ===\"`,\n  `journalctl -b --no-pager -p warning 2>/dev/null | tail -300`,\n  `echo \"=== DMESG (warn/err/crit) ===\"`,\n  `dmesg --level=warn,err,crit 2>/dev/null | tail -200`,\n  `for log in /var/log/syslog /var/log/messages /var/log/kern.log /var/log/auth.log; do [ -f \"$log\" ] && echo \"=== $log ===\" && grep -iE 'warn|error|crit|fail|fatal' \"$log\" 2>/dev/null | tail -100; done`,\n  // --- Failed/Degraded Services ---\n  `echo \"=== FAILED/DEGRADED SERVICES ===\"`,\n  `systemctl list-units --state=failed,degraded --no-legend 2>/dev/null`,\n  // --- Per-Service Logs (alle aktiven Services mit Warnings) ---\n  `echo \"=== SERVICE WARNINGS (${config.log_since_days}d) ===\"`,\n  `for svc in $(systemctl list-units --type=service --state=active --no-legend 2>/dev/null | awk '{print $1}' | grep -v '@' | head -50); do out=$(journalctl -u $svc --no-pager -p warning --since '${config.log_since_days} days ago' 2>/dev/null | tail -15); [ -n \"$out\" ] && echo \"--- SERVICE: $svc ---\" && echo \"$out\"; done`,\n  // --- Application Logs: nginx ---\n  `[ -d /var/log/nginx ] && echo \"=== APP: nginx ===\" && find /var/log/nginx -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: Apache2 ---\n  `[ -d /var/log/apache2 ] && echo \"=== APP: apache2 ===\" && find /var/log/apache2 -name '*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt) ---\" && grep -iE \"warn|error|crit|emerg\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: MySQL/MariaDB ---\n  `for log in /var/log/mysql/error.log /var/log/mariadb/mariadb.log /var/log/mysql.err; do [ -f \"$log\" ] && echo \"=== APP: MySQL/MariaDB ($log) ===\" && grep -iE 'warn|error|fail' \"$log\" 2>/dev/null | tail -50; done`,\n  // --- Application Logs: PostgreSQL ---\n  `[ -d /var/log/postgresql ] && echo \"=== APP: PostgreSQL ===\" && find /var/log/postgresql -name '*.log' 2>/dev/null | xargs -I{} sh -c 'grep -iE \"warn|error|fatal|panic\" \"{}\" 2>/dev/null | tail -50' || true`,\n  // --- Application Logs: Redis ---\n  `for log in /var/log/redis/redis-server.log /var/log/redis.log; do [ -f \"$log\" ] && echo \"=== APP: Redis ===\" && grep -iE 'warn|error|fail|critical' \"$log\" 2>/dev/null | tail -30; done`,\n  // --- Application Logs: PHP/FPM ---\n  `find /var/log -maxdepth 2 -name 'php*.log' -o -name 'fpm*.log' 2>/dev/null | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|fatal|exception\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"=== APP: PHP ({}) ===\" && grep -iE \"warn|error|fatal|exception\" \"{}\" 2>/dev/null | tail -30' 2>/dev/null || true`,\n  // --- Generic App Log Scan: /var/log (alle .log außer Standardlogs) ---\n  `echo \"=== APP LOGS SCAN (/var/log) ===\"`,\n  `find /var/log -maxdepth 3 -name '*.log' -not -empty 2>/dev/null | grep -vE '/(syslog|messages|kern\\\\.log|auth\\\\.log|dpkg\\\\.log|apt/|btmp|wtmp|lastlog|faillog|journal)' | head -30 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception\" \"{}\" 2>/dev/null | tail -30'`,\n  // --- Generic App Log Scan: /opt ---\n  `echo \"=== APP LOGS SCAN (/opt) ===\"`,\n  `find /opt -maxdepth 4 -name '*.log' -not -empty 2>/dev/null | head -20 | xargs -I{} sh -c 'cnt=$(grep -ciE \"warn|error|crit|fail|fatal|exception|traceback\" \"{}\" 2>/dev/null); [ \"$cnt\" -gt 0 ] && echo \"--- {} ($cnt hits) ---\" && grep -iE \"warn|error|crit|fail|fatal|exception|traceback\" \"{}\" 2>/dev/null | tail -30'`,\n].join('\\n');\n\nconst prompt = `Du bist ein erfahrener Systemadministrator. Analysiere ALLE Logquellen des folgenden Systems vollständig.\n\n=== SYSTEM ===\nName: ${sys.name}\nIP: ${sys.ip}\nTyp: ${sys.type.toUpperCase()} (${sysLabel})\nSSH: ${ssh_prefix}\n\n=== AUFGABE ===\n1. Verbinde dich per SSH mit dem System\n2. Führe folgende Befehle zur Log-Sammlung aus:\n\n${cmds}\n\n3. Analysiere ALLE gesammelten Ausgaben auf Probleme – egal ob System-Logs, Application-Logs oder Service-Logs\n4. Berücksichtige JEDE Warnung und jeden Fehler, unabhängig von der Quelle\n5. Gruppiere ähnliche Fehler desselben Service/Komponente (Deduplizierung)\n6. KEINE Behebungsmaßnahmen – nur Analyse und Dokumentation!\n\n=== ANTWORTFORMAT (NUR JSON, kein Markdown, kein erklärender Text) ===\n{\n  \"hostname\": \"${sys.name}\",\n  \"ip\": \"${sys.ip}\",\n  \"type\": \"${sys.type}\",\n  \"ssh_success\": true,\n  \"has_findings\": false,\n  \"findings\": [\n    {\n      \"severity\": \"WARNING|ERROR|CRITICAL\",\n      \"source\": \"system|application|service\",\n      \"component\": \"z.B. kernel, systemd, nginx, postgresql, sshd\",\n      \"summary\": \"Einzeilige Beschreibung des Problems\",\n      \"details\": \"Relevante Log-Zeilen (max. 5 Zeilen)\",\n      \"count\": 1,\n      \"first_seen\": \"2026-03-23T01:00:00Z\"\n    }\n  ],\n  \"error\": null\n}\n\nWICHTIG:\n- Antworte NUR mit dem JSON-Objekt\n- Wenn SSH fehlschlägt: ssh_success=false, has_findings=false, error=<Fehlermeldung>\n- Ignoriere rein informative Meldungen (INFO/DEBUG/NOTICE)\n- source=\"system\" für Kernel/dmesg/journalctl-System-Einträge\n- source=\"application\" für App-spezifische Logfiles (nginx, postgresql, mysql, php etc.)\n- source=\"service\" für systemd-Unit-Logs (journalctl -u <service>)\n- Alle Schweregrade WARNING und höher erfassen – egal welche Quelle`;\n\nreturn [{ json: {\n  system_name: sys.name,\n  system_ip:   sys.ip,\n  system_type: sys.type,\n  prompt\n} }];"},"name":"🔧 P2: Build LXC/VM Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,720],"id":"cadf689d-2e6b-4795-8a99-52216adee615"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"l4ee6BahShsiEXjI"}},"name":"🤖 P2: Claude Log Analysis","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1540,720],"id":"13f8579f-0817-45be-8380-48da773c7243"},{"parameters":{"jsCode":"const inp    = $('🔧 P2: Build LXC/VM Prompt').first().json;\nconst claude = $input.first().json;\n\nif (inp._skip) return [{ json: { _skip: true, has_findings: false } }];\n\nlet data = { ssh_success: false, has_findings: false, findings: [], error: 'Keine Antwort' };\ntry {\n  const text    = claude.response_text || '';\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const match   = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) data = { ...data, ...JSON.parse(match[0]) };\n} catch(e) {\n  data.error = 'JSON Parse-Fehler: ' + e.message;\n}\n\nconst findings = (data.findings || []).filter(f =>\n  ['WARNING','ERROR','CRITICAL'].includes((f.severity||'').toUpperCase())\n);\n\nreturn [{ json: {\n  system_name:    inp.system_name,\n  system_ip:      inp.system_ip,\n  system_type:    inp.system_type,\n  ssh_success:    data.ssh_success,\n  has_findings:   data.ssh_success && findings.length > 0,\n  findings_count: findings.length,\n  findings,\n  error:          data.error\n} }];"},"name":"🔧 P2: Parse Findings","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,720],"id":"df312c9b-7c13-4e61-8200-549282ec1ea7"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"p2-has-findings","leftValue":"={{ $json.has_findings }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"✅ P2: Findings vorhanden?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1980,720],"id":"5a1f0d6c-e6e2-475f-8a07-ddfd583664d8"},{"parameters":{"jsCode":"const inp    = $input.first().json;\nconst config = $('📋 Set Config').first().json;\n\nconst sev_order = { CRITICAL: 3, ERROR: 2, WARNING: 1 };\nconst sev_icon  = { CRITICAL: '🚨', ERROR: '🔴', WARNING: '⚠️' };\nconst src_icon  = { system: '🖥️', application: '📦', service: '⚙️' };\n\nconst max_sev = inp.findings.reduce((m, f) =>\n  (sev_order[f.severity] || 0) > (sev_order[m] || 0) ? f.severity : m, 'WARNING');\n\nconst title = `[Log-Analyse] ${inp.system_name} (${inp.system_ip}) – ${inp.findings_count} Befund(e)`;\n\n// Gruppenübersicht nach Quelle\nconst by_source = {};\nfor (const f of inp.findings) {\n  const s = f.source || 'system';\n  if (!by_source[s]) by_source[s] = [];\n  by_source[s].push(f);\n}\n\nlet body  = `## Log-Analyse: ${inp.system_name}\\n\\n`;\nbody += `**System:** ${inp.system_name} (${inp.system_ip})\\n`;\nbody += `**Typ:** ${inp.system_type.toUpperCase()}\\n`;\nbody += `**Analyse:** ${new Date().toISOString().slice(0,19).replace('T',' ')} UTC\\n`;\nbody += `**Run-ID:** ${config.run_id}\\n\\n`;\n\n// Quellen-Übersicht\nbody += `### Befunde nach Quelle\\n`;\nfor (const [src, items] of Object.entries(by_source)) {\n  const icon = src_icon[src] || '📋';\n  body += `- ${icon} **${src}**: ${items.length} Befund(e)\\n`;\n}\nbody += `\\n---\\n\\n`;\n\n// Detaillierte Befunde\nbody += `## Befunde (${inp.findings_count})\\n\\n`;\nfor (const f of inp.findings) {\n  const icon    = sev_icon[f.severity] || '⚠️';\n  const srcIcon = src_icon[f.source || 'system'] || '📋';\n  body += `### ${icon} ${f.severity}: ${f.summary}\\n`;\n  body += `- **Komponente:** ${f.component}\\n`;\n  body += `- **Quelle:** ${srcIcon} ${f.source || 'system'}\\n`;\n  body += `- **Anzahl:** ${f.count || 1}\\n`;\n  if (f.first_seen) body += `- **Erstes Auftreten:** ${f.first_seen}\\n`;\n  body += `\\n**Log-Auszug:**\\n\\`\\`\\`\\n${f.details}\\n\\`\\`\\`\\n\\n`;\n}\nbody += `---\\n*Automatisch erstellt – keine Behebungsmaßnahmen erforderlich.*`;\n\nconst priority = max_sev === 'CRITICAL' ? '1 very high'\n               : max_sev === 'ERROR'    ? '2 high'\n               :                          '3 normal';\n\nreturn [{ json: { title, body, queue: 'Raw', state: 'neu', priority } }];"},"name":"🔧 P2: Build Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,600],"id":"3f9cef6d-4c1d-4212-8217-074f79affefe"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"NMxFaLwPpq39MSCF"}},"name":"🎫 P2: Create Ticket","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2420,600],"id":"267da276-b4b3-46c0-b319-59ba7b8044f0"},{"parameters":{"jsCode":"const inp = $input.first().json;\nreturn [{ json: { system_name: inp.system_name, action: 'no_findings', has_findings: false } }];"},"name":"📝 P2: Kein Befund","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,840],"id":"6ceb4e7e-6be4-41fc-9475-b04ed2c4079c"},{"parameters":{"jsCode":"const config = $('📋 Set Config').first().json;\nconst items  = $input.all();\n\nconst tickets_created = items.filter(i => i.json.ticket_id || i.json.ticket_number).length;\nconst no_findings     = items.filter(i => i.json.action === 'no_findings').length;\n\nreturn [{ json: {\n  run_id:          config.run_id,\n  run_date:        config.run_date,\n  tickets_created,\n  no_findings,\n  summary: `Log-Analyse abgeschlossen. ${tickets_created} Ticket(s) erstellt, ${no_findings} System(e) ohne Befund.`\n} }];"},"name":"🔧 Aggregate Ergebnisse","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,720],"id":"fa6fe623-6b23-4c0f-bc57-486e3295001b"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"TmyAkITcb41Ti3Ev"},"workflowInputs":{"values":[{"name":"message","value":"={{ $json.summary }}"},{"name":"channels","value":"[\"matrix\"]"},{"name":"level","value":"info"}]}},"name":"🔔 SUB: Notification","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2860,720],"id":"5872ac44-3881-4de4-b7d9-753610e0afc7"}],"connections":{"⏰ Schedule: Wöchentlich So 02:00":{"main":[[{"node":"📋 Set Config","type":"main","index":0}]]},"▶️ Manual Trigger":{"main":[[{"node":"📋 Set Config","type":"main","index":0}]]},"📋 Set Config":{"main":[[{"node":"🌐 P1: NetBox Devices laden","type":"main","index":0}]]},"🌐 P1: NetBox Devices laden":{"main":[[{"node":"🔧 P1: Filter Devices","type":"main","index":0}]]},"🔧 P1: Filter Devices":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"🔄 P1: Loop Devices":{"main":[[{"node":"🔧 P1: Build Device Prompt","type":"main","index":0}],[{"node":"🌐 P2: NetBox LXC+VM laden","type":"main","index":0}]]},"🔧 P1: Build Device Prompt":{"main":[[{"node":"🤖 P1: Claude Log Analysis","type":"main","index":0}]]},"🤖 P1: Claude Log Analysis":{"main":[[{"node":"🔧 P1: Parse Findings","type":"main","index":0}]]},"🔧 P1: Parse Findings":{"main":[[{"node":"✅ P1: Findings vorhanden?","type":"main","index":0}]]},"✅ P1: Findings vorhanden?":{"main":[[{"node":"🔧 P1: Build Ticket","type":"main","index":0}],[{"node":"📝 P1: Kein Befund","type":"main","index":0}]]},"🔧 P1: Build Ticket":{"main":[[{"node":"🎫 P1: Create Ticket","type":"main","index":0}]]},"🎫 P1: Create Ticket":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"📝 P1: Kein Befund":{"main":[[{"node":"🔄 P1: Loop Devices","type":"main","index":0}]]},"🌐 P2: NetBox LXC+VM laden":{"main":[[{"node":"🔧 P2: Filter LXC+VM","type":"main","index":0}]]},"🔧 P2: Filter LXC+VM":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"🔄 P2: Loop LXC+VM":{"main":[[{"node":"🔧 P2: Build LXC/VM Prompt","type":"main","index":0}],[{"node":"🔧 Aggregate Ergebnisse","type":"main","index":0}]]},"🔧 P2: Build LXC/VM Prompt":{"main":[[{"node":"🤖 P2: Claude Log Analysis","type":"main","index":0}]]},"🤖 P2: Claude Log Analysis":{"main":[[{"node":"🔧 P2: Parse Findings","type":"main","index":0}]]},"🔧 P2: Parse Findings":{"main":[[{"node":"✅ P2: Findings vorhanden?","type":"main","index":0}]]},"✅ P2: Findings vorhanden?":{"main":[[{"node":"🔧 P2: Build Ticket","type":"main","index":0}],[{"node":"📝 P2: Kein Befund","type":"main","index":0}]]},"🔧 P2: Build Ticket":{"main":[[{"node":"🎫 P2: Create Ticket","type":"main","index":0}]]},"🎫 P2: Create Ticket":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"📝 P2: Kein Befund":{"main":[[{"node":"🔄 P2: Loop LXC+VM","type":"main","index":0}]]},"🔧 Aggregate Ergebnisse":{"main":[[{"node":"🔔 SUB: Notification","type":"main","index":0}]]}},"authors":"Marco Doehler","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-29T08:43:39.728Z","id":254,"workflowId":"pPJ4lVht3s3I0816","versionId":"92c711f3-d99b-4c22-8e5c-654f89f71c05","event":"activated","userId":"9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"},{"createdAt":"2026-03-29T08:43:39.671Z","id":253,"workflowId":"pPJ4lVht3s3I0816","versionId":"92c711f3-d99b-4c22-8e5c-654f89f71c05","event":"deactivated","userId":"9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"}]}}