sub/sub-znuny-ticket-search.json
{
    "updatedAt": "2026-03-31T18:02:33.141Z",
    "createdAt": "2026-03-23T18:25:43.818Z",
    "id": "XtpJW0B4twnclvtk",
    "name": "SUB: Znuny Ticket Search",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "state",
                            "type": "string"
                        },
                        {
                            "name": "queue",
                            "type": "string"
                        },
                        {
                            "name": "limit",
                            "type": "number"
                        }
                    ]
                }
            },
            "name": "\ud83d\udce5 Input from Master",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ],
            "id": "33aba74a-0a7e-4588-9f13-5d1b283613e2"
        },
        {
            "parameters": {
                "jsCode": "// Zeitfilter: Tickets \u00e4lter als 5 Minuten\nconst now = new Date();\nconst cutoffMs = now.getTime() - (5 * 60 * 1000);\nconst cutoff = new Date(cutoffMs);\n\nconst pad = n => String(n).padStart(2, '0');\nconst cutoffStr = `${cutoff.getUTCFullYear()}-${pad(cutoff.getUTCMonth()+1)}-${pad(cutoff.getUTCDate())} ${pad(cutoff.getUTCHours())}:${pad(cutoff.getUTCMinutes())}:${pad(cutoff.getUTCSeconds())}`;\n\nfunction ep(k, v) { return encodeURIComponent(k) + '=' + encodeURIComponent(v); }\n\nconst queryString = [\n  ep('UserLogin', 'root@localhost'),\n  ep('Password', 'ZnunyApi2026'),\n  ep('States[0]', 'new'),\n  ep('TicketCreateTimeOlderDate', cutoffStr),\n  ep('Limit', '20'),\n  ep('SortBy', 'Age'),\n  ep('OrderBy', 'Down')\n].join('&');\n\nreturn [{ json: {\n  run_time: now.toISOString(),\n  cutoff_time: cutoffStr,\n  max_tickets: 2,\n  query_string: queryString\n} }];"
            },
            "name": "\ud83d\udd27 Build Search Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "id": "5d11fffc-f47c-4b51-aa8f-5afa228f03ac"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://10.1.1.182/znuny/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/TicketSearch",
                "options": {
                    "allowUnauthorizedCerts": true,
                    "timeout": 15000
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.search_body) }}"
            },
            "name": "\ud83d\udd0d Znuny API: TicketSearch",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                600,
                300
            ],
            "continueOnFail": true,
            "id": "770ad319-e33a-4720-be38-1a7f81d66859"
        },
        {
            "parameters": {
                "jsCode": "const input = $('\ud83d\udce5 Input from Master').first().json;\nconst r = $input.first().json;\n\n// Znuny liefert: { TicketID: [1, 2, 3] } oder { Error: {...} }\nif (r.Error) {\n  return [{ json: { ticket_ids: [], count: 0, state: input.state,\n    error: `${r.Error.ErrorCode}: ${r.Error.ErrorMessage}` } }];\n}\n\n// TicketID kann Array oder einzelner Wert sein\nconst raw = r.TicketID;\nconst ticket_ids = Array.isArray(raw) ? raw.map(Number)\n  : (raw != null ? [Number(raw)] : []);\n\nreturn [{ json: { ticket_ids, count: ticket_ids.length, state: input.state, error: null } }];"
            },
            "name": "\ud83d\udd27 Parse Ticket IDs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                300
            ],
            "id": "154a6f7a-8209-43d1-be33-0e337fb35bc5"
        }
    ],
    "connections": {
        "\ud83d\udce5 Input from Master": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd27 Build Search Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udd27 Build Search Query": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd0d Znuny API: TicketSearch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udd0d Znuny API: TicketSearch": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd27 Parse Ticket IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "bc1561eb-f3fe-4c69-924b-cf8bf9593bae",
    "activeVersionId": "bc1561eb-f3fe-4c69-924b-cf8bf9593bae",
    "versionCounter": 27,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-03-23T18:25:43.824Z",
            "createdAt": "2026-03-23T18:25:43.824Z",
            "role": "workflow:owner",
            "workflowId": "XtpJW0B4twnclvtk",
            "projectId": "TKpGt6PASoN8CNtU",
            "project": {
                "updatedAt": "2025-10-04T18:35:36.086Z",
                "createdAt": "2025-10-04T18:27:37.663Z",
                "id": "TKpGt6PASoN8CNtU",
                "name": "Marco Doehler <marcofpo@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-31T18:02:33.142Z",
        "createdAt": "2026-03-31T18:02:33.142Z",
        "versionId": "bc1561eb-f3fe-4c69-924b-cf8bf9593bae",
        "workflowId": "XtpJW0B4twnclvtk",
        "nodes": [
            {
                "parameters": {
                    "workflowInputs": {
                        "values": [
                            {
                                "name": "state",
                                "type": "string"
                            },
                            {
                                "name": "queue",
                                "type": "string"
                            },
                            {
                                "name": "limit",
                                "type": "number"
                            }
                        ]
                    }
                },
                "name": "\ud83d\udce5 Input from Master",
                "type": "n8n-nodes-base.executeWorkflowTrigger",
                "typeVersion": 1.1,
                "position": [
                    200,
                    300
                ],
                "id": "33aba74a-0a7e-4588-9f13-5d1b283613e2"
            },
            {
                "parameters": {
                    "jsCode": "// Zeitfilter: Tickets \u00e4lter als 5 Minuten\nconst now = new Date();\nconst cutoffMs = now.getTime() - (5 * 60 * 1000);\nconst cutoff = new Date(cutoffMs);\n\nconst pad = n => String(n).padStart(2, '0');\nconst cutoffStr = `${cutoff.getUTCFullYear()}-${pad(cutoff.getUTCMonth()+1)}-${pad(cutoff.getUTCDate())} ${pad(cutoff.getUTCHours())}:${pad(cutoff.getUTCMinutes())}:${pad(cutoff.getUTCSeconds())}`;\n\nfunction ep(k, v) { return encodeURIComponent(k) + '=' + encodeURIComponent(v); }\n\nconst queryString = [\n  ep('UserLogin', 'root@localhost'),\n  ep('Password', 'ZnunyApi2026'),\n  ep('States[0]', 'new'),\n  ep('TicketCreateTimeOlderDate', cutoffStr),\n  ep('Limit', '20'),\n  ep('SortBy', 'Age'),\n  ep('OrderBy', 'Down')\n].join('&');\n\nreturn [{ json: {\n  run_time: now.toISOString(),\n  cutoff_time: cutoffStr,\n  max_tickets: 2,\n  query_string: queryString\n} }];"
                },
                "name": "\ud83d\udd27 Build Search Query",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    400,
                    300
                ],
                "id": "5d11fffc-f47c-4b51-aa8f-5afa228f03ac"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://10.1.1.182/znuny/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/TicketSearch",
                    "options": {
                        "allowUnauthorizedCerts": true,
                        "timeout": 15000
                    },
                    "sendBody": true,
                    "contentType": "json",
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.search_body) }}"
                },
                "name": "\ud83d\udd0d Znuny API: TicketSearch",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    600,
                    300
                ],
                "continueOnFail": true,
                "id": "770ad319-e33a-4720-be38-1a7f81d66859"
            },
            {
                "parameters": {
                    "jsCode": "const input = $('\ud83d\udce5 Input from Master').first().json;\nconst r = $input.first().json;\n\n// Znuny liefert: { TicketID: [1, 2, 3] } oder { Error: {...} }\nif (r.Error) {\n  return [{ json: { ticket_ids: [], count: 0, state: input.state,\n    error: `${r.Error.ErrorCode}: ${r.Error.ErrorMessage}` } }];\n}\n\n// TicketID kann Array oder einzelner Wert sein\nconst raw = r.TicketID;\nconst ticket_ids = Array.isArray(raw) ? raw.map(Number)\n  : (raw != null ? [Number(raw)] : []);\n\nreturn [{ json: { ticket_ids, count: ticket_ids.length, state: input.state, error: null } }];"
                },
                "name": "\ud83d\udd27 Parse Ticket IDs",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    800,
                    300
                ],
                "id": "154a6f7a-8209-43d1-be33-0e337fb35bc5"
            }
        ],
        "connections": {
            "\ud83d\udce5 Input from Master": {
                "main": [
                    [
                        {
                            "node": "\ud83d\udd27 Build Search Query",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\ud83d\udd27 Build Search Query": {
                "main": [
                    [
                        {
                            "node": "\ud83d\udd0d Znuny API: TicketSearch",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\ud83d\udd0d Znuny API: TicketSearch": {
                "main": [
                    [
                        {
                            "node": "\ud83d\udd27 Parse Ticket IDs",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Marco Doehler",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-31T18:02:33.171Z",
                "id": 415,
                "workflowId": "XtpJW0B4twnclvtk",
                "versionId": "bc1561eb-f3fe-4c69-924b-cf8bf9593bae",
                "event": "activated",
                "userId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
            },
            {
                "createdAt": "2026-03-31T18:02:33.160Z",
                "id": 414,
                "workflowId": "XtpJW0B4twnclvtk",
                "versionId": "bc1561eb-f3fe-4c69-924b-cf8bf9593bae",
                "event": "deactivated",
                "userId": "9d94d1ac-c2ff-49a2-91e0-a14f8e4d7626"
            }
        ]
    }
}
